<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Outpost - Lookup Airbnb, Ridejoy, and Vayable listings all in one place!</title>
    <meta name="description" content="Outpost - Plan your trip with peer to peer madness only">
    <!--<meta name="viewport" content="width=device-width">-->
	<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="image_src" href="http://outpostp2p.com/img/fb.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mobile.css">
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/jquery-ui-1.10.0.custom.css">
    <link rel="stylesheet" href="css/custom-2.css">
</head>
<body>
  <!-- Navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" style="padding-top: 3px;">
		  <div class='left'>
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</a>
			<a class="header-logo-link" href="/">
			  <span>Ou</span>
			  <img class="logo" src="img/nosmoke.png" alt="outpost logo">
			  <span>post</span>
			</a>
			</div>
			<div class="nav-collapse collapse right" id="appendToNav">
			  <ul class="nav css-nav">
				<li><a class="js-mainmenu" data-toggle="modal" href="#about">Contact</a></li>
				<li><a class="js-mainmenu" href="#how-it-works">How it works</a></li>
				<li class='shares twitters'><a class="twitter-share-button" data-via="outpostp2p" data-text="Lookup @airbnb, @ridejoy, @vayable, listings all in one place!" data-lang="en" href="https://twitter.com/share"></a></li>
			  </ul>
			  <p class="resultInfo"></p>
			</div>
			<!-- Start Gagandeep 04222013 -->
			<div class='mobile-menu-main right'>
				<span class='twitters'> 
					<a class="twitter-share-button"  data-via="outpostp2p" data-text="Lookup @airbnb, @ridejoy, @vayable, listings all in one place!" data-lang="en" href="https://twitter.com/share">
					</a>
				</span>
				<a class='mobile-menu-button mobile-menu-icon icon-reorder' href='javascript:void(0);'>
				</a>
			</div>
			<div class="ui-popup-container ui-popup-active mobile-menu-popup"   tabindex="0">

				<div  class="ui-content ui-popup ui-overlay-shadow ui-corner-all ui-body-c">
					<a class="ui-btn-right ui-btn icon-remove-circle mobile-menu-popup-close" title="Close">
					</a>
					<div class='ui-menu-title'>
						Menu
					</div>
					<div class='ui-menu-item mobile-contact' >
						<div class='ui-menu-item-icon icon-envelope-alt'>
						</div>
						<div class='ui-menu-item-text'>
							Contact
						</div>
					</div>
					<div class='ui-menu-item mobile-how-it-works'>
						<div class='ui-menu-item-icon icon-question-sign'>
						</div>
						<div class='ui-menu-item-text '>
							How it works
						</div>
					</div>
					<div class='ui-menu-item'>
						<div class='ui-menu-item-icon'>
						</div>
						<div class='ui-menu-item-text'>
						</div>
					</div>
			</div>
		</div>
			<!-- end Gagandeep -->
      </div>
    </div>
  </div>
  <!-- menubar for the mobile phone -->
	<div class="mobile-top-bar">
		<div id="mobile-top-bar-frame">
			<div id="mobile-top-bar-content">
				<input type='text' class='left searchbox' />
				<!-- Start Gagandeep 04232013 -->
				<div class='right'>
					<div class='mobile-menu-item-border'>
					</div>
					<div class='left top-bar-button-main gps-location-button-main'>
						<a class='gps-location-button  icon-screenshot' href="javascript:void(0);"></a>
					</div>
					<div class='left top-bar-button-main'>
						<a class='filter-button icon-filter' href="javascript:void(0);"></a>
					</div>
					<div class='left top-bar-button-main'>
						<!-- listing button-->
						<a class='listing-button icon-reorder' href="javascript:void(0);"></a>
					</div>
									<!-- Start Gagandeep 04232013 -->
					<div class='left top-bar-button-main border-no-right'>
						<a class='question-button icon-question-sign' href="javascript:void(0);"></a>
					</div>
				</div>
				<!-- end Gagandeep -->
				<!-- filter button dropdown -->
				<div class="filter-dropdown">
					<div class='filters'>
						<div class="input-prepend">
							<span class="add-on"><i class="icon-calendar"></i></span>
							<input class="input-small js-sdate-input" placeholder="Leaving on" type="text">
							<input class="input-small js-edate-input" placeholder="Check out"  type="text">
						</div>
						<div class='clear'>
						</div>
						<select class="guestfilter js-guest-input">
							<option selected disabled value="1">People</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
						<div class="price-filter">
							<ul class="slider_values">
								<li class="price-value-min minimax">$<span class="price-value-min">10</span> USD</li>
								<li class="price-value-max minimax">$<span class="price-value-max">300+</span> USD</li>
							</ul>
							<div class="input-large js-price-input"></div>
						</div>
						<div class='clear'>
						</div>
						<label class="applyflabel">Apply filters to:</label>
						<div class="btn-group filter-applyto"  data-toggle="buttons-checkbox">
							<button class="applytobtn btn active" data-to="airbnb" type="button">Airbnb</button>
							<button class="applytobtn btn" data-to="ridejoy" type="button">Ridejoy</button>
							<button class="applytobtn btn" data-to="vayable" type="button">Vayable</button>
						</div>
						<button class="btn btn-info submit-filter ">Filter</button>
					</div>
				</div>
				<!-- listing button dropdown -->
				<div class='listing-dropdown'>
						
				</div>
			</div>
		</div>
	</div>
  <!-- Landing hero header -->
  <div id="landingpage">
    <div class="main-head">
      <h2 class="text-center top">Plan your trip with peer to peer madness only.</h2>
      <!-- Main form -->
      <div class="css-main-search" id="js-firstSearch">
        <div class="inner-search">
          <div class="search-bar-wrapper">
            <form class="form-inline" id="js-searchForm">
              <div class="inner-form row-fluid">
                <div class="input-append text-center span8 mobile-inputsearch">
				<!-- added mobile-search-input class 04232013  -->
                  <input class="css-input-sea wearedual span11 mobile-search-input" id="js-orig-location-input" type="text" autocomplete="off" placeholder="Take me to..." autofocus required>
                  <button class="btn wearedual btn-info css-searchit" id="searchIt" type="submit">
                    <span class="icon-search css-searchicon"></span>
                    Search
                  </button>
                </div>
                <div class="span1 css-ortext">or</div>
                <div class="span3 mobile-whats">
                  <a class="btn css-whataround btn-danger" id="js-whataround" href="javascript:void(0)">
                    <img class="geolocate-icon" src="img/icon-target.png" alt="geolocate">
                    <span class="">What's around me ?</span>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- horizontal logo bar -->
    <div class="css-logo-bar">
      <div class="css-container">
        <span class="logos">
          <a class="tooly" data-toggle="tooltip" data-placement="top" title="Vacation rentals, private rooms, sublets by the night - Accommodations on Airbnb" href="https://www.airbnb.com/" target="_blank">
            <img width="128px" src="img/airbnb_logo_edited.png" alt="airbnb logo">
          </a>
        </span>
        <span class="logos">
          <a class="tooly" data-toggle="tooltip" data-placement="top" title="Ridejoy | Rideshare and carpool with friendly people." href="http://ridejoy.com/" target="_blank">
            <img width="128px" src="img/ridejoy_logo_edited.png" alt="ridejoy logo">
          </a>
        </span>
        <span class="logos">
          <a class="tooly" data-toggle="tooltip" data-placement="top" title="Vayable - Tours, trips and other things to do on vacation" href="https://www.vayable.com/" target="_blank">
            <img width="128px" src="img/vayable_logo_edited.png" alt="vayable logo">
          </a>
        </span>
      </div>
    </div>

    <div id="how-it-works" class="how-it-works">
      <h2 class="text-center hiw-header">Think Airbnb for Airbnbs.</h2>
      <div class="hiw-container">
        <div class="row">
          <div class="hiw-first-wrap span4 hiw-wrap">
            <div class="hiw hiw-first">
              <div class="hiw-num" style="color:#ec5f41">1</div>
              <div class="hiw-icon"><div class="icon-map-search icon-search icon-large"></div></div>
            </div>
            
            <h4 class="hiw-title">Lookup P2P services</h4>
            <p class="hiw-desc">With Outpost you can check out many person to person services into one spot! We're just 2 weeks old and are working hard everyday to get more marketplace networks into Outpost.</p>
          </div>

          <div class="hiw-second-wrap span4 hiw-wrap">
            <div class="hiw hiw-second">
              <div class="hiw-num" style="color:#24b0cf">2</div>

              <div class="hiw-icon"><div class="hiw icon-map-marker icon-large"></div></div>
            </div>
            <h4 class="hiw-title">Plan your spots</h4>
            <p class="hiw-desc">Knowing where everything is, it'll be easier to plan and book a trip.</p>
          </div>

          <div class="hiw-third-wrap span4 hiw-wrap">
            <div class="hiw hiw-third">
              <div class="hiw-num" style="color:#95d17b">3</div>
              <div class="hiw-icon"><img src="img/box-car.png" alt="car icon"></div>
            </div>
            <h4 class="hiw-title">Pack up and travel</h4>
            <p class="hiw-desc">Pick a ride share to get to your destination or just walk there.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Map and Sidebar -->
  <div class="row-fluid" id="listings" style="display: none;">
    <div class="sidebar mvwq" id="sidebar">
      <div class="inner">
        <div class="filters" id="filters">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <input class="input-small" placeholder="Leaving on" id="js-sdate-input" type="text">
            <input class="input-small" placeholder="Check out" id="js-edate-input" type="text">
          </div>
          <select class="guestfilter" id="js-guest-input">
            <option selected disabled value="1">People</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div class="price-filter">
            <ul class="slider_values">
              <li class="price-value-min minimax">$<span id="price-value-min">10</span> USD</li>
              <li class="price-value-max minimax">$<span id="price-value-max">300+</span> USD</li>
            </ul>
            <div class="input-large" id="js-price-input"></div>
          </div>
          <button class="btn btn-info submit-filter" id="submit-filter">Filter</button>
          <label class="applyflabel">Apply filters to:</label>
          <div class="btn-group filter-applyto" id="filter-applyto" data-toggle="buttons-checkbox">
            <button class="applytobtn btn active" data-to="airbnb" type="button">Airbnb</button>
            <button class="applytobtn btn" data-to="ridejoy" type="button">Ridejoy</button>
            <button class="applytobtn btn" data-to="vayable" type="button">Vayable</button>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a id="js-airbnbmenu" href="#airbnb" data-toggle="tab" title="Airbnb"><img src="img/airbnb.ico"></a></li>
          <li><a id="js-ridejoymenu" href="#ridejoy" data-toggle="tab" title="Ridejoy"><img src="img/ridejoy.ico"></a></li>
          <li><a id="js-vayablemenu" href="#vayable" data-toggle="tab" title="Vayable"><img src="img/vayable.ico"></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="airbnb">
            <div class="loading" id="airbnb-loading"></div>
            <table class="table" id="airbnb-table">
              <tbody class="lists" id="airbnb-list">
                <!-- items are here -->
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"><button class="btn load-more" id="lm-air" type="button" data-loading-text="Loading...">Load more..</button></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="tab-pane" id="ridejoy">
            <div class="loading" id="ridejoy-loading"></div>
            <table class="table" id="ridejoy-table">
              <tbody class="lists" id="ridejoy-list">
                <!-- items are here -->
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="vayable">
            <div class="loading" id="vayable-loading"></div>
            <table class="table" id="vayable-table">
              <tbody class="lists" id="vayable-list">
                <!-- items are here -->
              </tbody>
              <tfoot>
                <tr>
                  <td><button class="btn load-more" id="lm-vay" type="button" data-loading-text="Loading...">Load more..</button></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="span12 map-cont">
      <div class="map" id="map">
       <!-- Map goes here -->
      </div>
    </div>
  </div>

  <!-- About Modal -->
  <div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="about-outpost" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="about-outpost">About Outpost</h3>
    </div>
    <div class="modal-body">
      <p>We're a young team of 2 and we're hungry.</p>
      <p>Sorry if there are bugs or no information available next in your neighborhood, we are adding more P2P networks every day so check again soon!
      </p>
      <a href="https://twitter.com/Outpostp2p" class="twitter-follow-button" data-show-count="false">Follow @Outpostp2p</a>
      <p class="pull-right">
        Please contact us, we're begging for feedback: <a href="mailto:info@outpostp2p.com">info@outpostp2p.com</a> <br>
      </p>
    </div>
  </div>

  <div class="alert-box" id="alert-box">
  </div>


  <!-- TEMPLATES -->
  <script id="tmpl-resultInfo" type="text/template">
    <span id="js-counter"><%= numOfRes %></span> results found for <%= city %>
  </script>

  <script id="tmpl-alert" type="text/template">
    <div class="alert <%= type %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= text %>
    </div>
  </script>

  <script id="tmpl-airbnbRow" type="text/template">
    <% var markers = []; %>
    <% _.each(items, function(item) { %>
      <% Outpost.state.numOfRes++ %>
      <%
        var id = "air" + item.id;
        var json_item = JSON.stringify(item);
        var price = item.price.substring(0, item.price.indexOf("   "));
        markers.push({
          latLng: Outpost.helpers.genRdmLL(item.neigh),
          data: item,
          id: id,
          tag: "air"
        });
      %>
      <tr class="tr-airbnb tr <%= id %>" data-item='<%= json_item %>'>
        <td><img class="img-circle" src="<%= item.profileImg %>"></td>
        <td class="ownerAdd">
          <%= item.desc %> <br>
          <i><%= item.type %></i> - <b><%= price %></b>
        </td>
        <td>
          <a href="<%= item.link %>" target='_blank'>
            <i class='icon-share' title="go to <%= item.link %>"></i>
          </a>
        </td>
      </tr>
    <% }); %>
    <% $('#airbnb-table').attr('data-markers', JSON.stringify(markers)); %>
  </script>

  <script id="tmpl-ridejoyRow" type="text/template">
    <% var markers = []; %>
    <% _.each(items, function(item) { %>
      <% Outpost.state.numOfRes++ %>
      <%
        var id = "rid" + item.id;
        var json_item = JSON.stringify(item);
        markers.push({
          latLng: Outpost.helpers.genRdmLL(item.origin),
          data: item,
          id: id,
          tag: "rid"
        });
      %>
      <tr class="tr-ridejoy tr <%= id %>" data-item='<%= json_item %>'>
        <td><img class="img-circle" src="<%= item.img %>"></td>
        <td class="ownerAdd">
          <%= item.origin %> → <%= item.destination %> <br>
          <%= item.dates %>
        </td>
        <td>
          <a href="<%= item.link %>" target='_blank'>
            <i class='icon-share' title="go to <%= item.link %>"></i>
          </a>
        </td>
      </tr>
    <% }); %>
    <% $('#ridejoy-table').attr('data-markers', JSON.stringify(markers)); %>
  </script>

  <script id="tmpl-vayableRow" type="text/template">
    <% var markers = []; %>
    <% _.each(items, function(item) { %>
      <% Outpost.state.numOfRes++ %>
      <%
        var id = "vay" + item.id;
        var json_item = JSON.stringify(item);
        markers.push({
          latLng: Outpost.helpers.genRdmLL(item.origin),
          data: item,
          id: id,
          tag: "vay"
        });
      %>
      <tr class="tr-vayable tr <%= id %>" data-item='<%= json_item %>'
       style="background: url(<%= item.img %>) no-repeat center center;">
        <td class="ownerAdd"><b class="text-white"><%= item.desc %></b></td>
      </tr>
    <% }); %>
    <% $('#vayable-table').attr('data-markers', JSON.stringify(markers)); %>
  </script>

  <!-- DEPENDENCIES -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/backbone-min.js"></script>
  <!-- temporary removed the key to stop the error dialog of disabled api access
  AIzaSyDszynV_XPq7Lgnmb_JAEz2QArQ7RdU5iA
  EXTRA LIBRARIES -->
  <script src="//maps.googleapis.com/maps/api/js?key=&sensor=false&libraries=places"></script>
  <script src="js/vendor/gmap3.js"></script>
  <!-- MVC -->
  <script src="js/app/tmpl-2.js"></script>
  <script src="js/app/models-2.js"></script>
  <script src="js/app/views-2.js"></script>
  <script src="js/app/router-2.js"></script>
  <!-- CUSTOM -->
  <script src="js/main-2.js"></script>
	<script type='text/javascript' src='js/mobile.js'></script>

  <!-- ANALYTICS & CO. -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script>
    var _gaq=[['_setAccount','UA-39723359-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
	console.log(isMobileDevice());
  </script>

</body>
</html>
