body {
  background: url("../img/background.jpg");
  overflow: hidden;
}

.pac-container:after {
  content: "" !important;
}

.pac-item {
  padding: 0.5em;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.pac-container > .pac-item:nth-child(odd) {
  background: rgba(236, 236, 236, 0.7);
}

.pac-container > .pac-item:nth-child(odd):hover {
  background: #274c74;
}
.pac-item:hover {
  background: #274c74;
  color: #fff;
}
.pac-selected {
  background: #274c74 !important;
  color: #fff;
}


.search {
  text-align: center;
}


.tr:hover {
  background-color: #f1f1f1;
}

.row-selected:hover {
  background-color: #abcdef;
}

.row-selected {
  background-color: #abcdef;
}

.row-hovered {
  background-color: #f1f1f1;
}

.info-price {
  text-align: center;
  margin-top: 3px;
}

.ownerAdd {
  word-wrap: break-word;
}

.list-wrapper {
  overflow: hidden;
}

.map img {
  max-width: none;
}

.listings {
  margin-top: -20px;
}

.map-cont {
  margin-left:0 !important;
}

.js-infowindow {
  max-width: 256px;
  text-align: center;
}
.instagood {
  height: 200px;
}
.tr {
  cursor: pointer;
}

.hero-unit {
  background: none;
  border-radius: 0;
  margin-top: -20px;
}

.info-desc {
  font-size: 11px;
}

.nav {
  margin-bottom: 0;
}

.sidebar {
  height: 598px;
  width: 350px;
  position: absolute;
  top: 41px;
  left: 90px;
  z-index: 9999;
  background-color: rgba(26, 21, 21, 0.75);
}

.inner {
  background: white;
  overflow: auto;
  width: 335px;
  margin: 0 auto;
}

.logos {
  opacity: 0.8;
}
.logos:hover{
  opacity: 1;
}

.shares {
  padding-top: 9px;
}

.st_twitter_hcount {
  padding-top: 7px;
}

.loading {
  background: url("../img/ajax-loader.gif");
  width: 32px;
  height: 32px;
}

.logo {
  display: inline-block;
  margin-top: -31px;
}

.map {
  width: 100% !important;
}


@media (max-width: 767px) {
  .mvwq {
    display: none !important;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
  }
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.twitters iframe {
  width: 60px !important;
}