body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration:none;
}
.pac-container:after {
  content: "" !important;
}
.pac-container {
  z-index: 1054 !important;
}
.pac-item {
  padding: 0.5em;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.pac-container > .pac-item:nth-child(odd) {
  background: rgba(236, 236, 236, 0.7);
}

.pac-container > .pac-item:nth-child(odd):hover {
  background: #274c74;
}
.pac-item:hover {
  background: #274c74;
  color: #fff;
}
.pac-selected {
  background: #274c74 !important;
  color: #fff;
}

.info-details {
  float: right;
}

.tooly:hover {
  text-decoration: none;
}
.inline-block {
  display: inline-block;
}
.va-middle {
  vertical-align: middle !important;
}
.tdfoot {
  text-align: right !important;
}
.css-logo-bar {
  width:100%;
  height:82px;
  overflow:hidden;
  margin-top: -83px;
  border-top:1px solid #4e4e4e;
  border-bottom:1px solid #4e4e4e;
  background:rgba(255, 255, 255, 0.5);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

.css-container {
  text-align: center;
  padding: 15px 0 0;
}

.landing-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.main-head {
  width: 100%;
  margin-top: -51px;
  padding-top: 51px;
  padding-bottom: 83px;
  height: 400px;
  background-size: cover;
  background: #000000 url("../img/traffic.jpg") no-repeat center center;
}

.search {
  text-align: center;
}

.tr:hover {
  background-color: #ddd;
}

.row-selected:hover {
  background-color: #abcdef;
}

.row-selected {
  background-color: #abcdef !important;
}

.row-hovered {
  background-color: #ddd;
}

.ownerAdd {
  word-wrap: break-word;
}

.list-wrapper {
  overflow: hidden;
}

.map img {
  max-width: none;
}

.map-cont {
  position: fixed !important;
  margin-left:0 !important;
  margin-top: -20px;
}

.tr {
  cursor: pointer;
}

.css-nav {
  margin-bottom: 0;
  float:right !important;
  color: #2F4C64 !important;
  margin: -35px 10px 0 0 !important;

}

.css-nav > li > a {

  color: #2F4C64 !important;
  text-shadow: none !important;
  font-size: 14px !important;
  font-weight: bold;
}

.css-nav > li > a:hover {

    color:#1a7e9f !important;
}

.sidebar {
  width: 350px;
  position: absolute;
  top: 41px;
  left: 84px;
  z-index: 1032;
  background-color: rgba(0, 0, 0, 0.22);
}

.bs-load {
  position: fixed;
  top: 3px;
  left: 50%;
  color: #3498db;
  padding: 5px;
  z-index: 9999;
}

.inner:hover {
  overflow: auto;
}

.logos {
  margin-left: 15px;
  margin-right: 15px;
}

.logos img {
  width: 128px;
}

.room-type-btn {
  margin-left: 9px;
  margin-top: 2px;
}

.room-type-btn .btn {
  font-size: 13px;
}

.logos:hover{
  opacity: 0.6;
}

.shares {
  padding-top: 10px;
  margin-right: 2px;
}

.st_twitter_hcount {
  padding-top: 7px;
}


.refineSearchbtn {
  margin-top: 4px;
  width: 149px
}

.loading {
  background: url("../img/ajax-loader.gif");
  margin: 5px auto;
  width: 16px;
  height: 11px;
}

.logo {
  height: 26px;
  margin-left: -8px;
  margin-right: -8px;
  vertical-align: baseline;
}

.header-logo {

  background: url("../img/castel.png") no-repeat scroll 0 0 transparent;
  padding-left:10px;
  padding-right:14px;
  margin-left:-8px;
  line-height: 0 !important;
  padding-top: 4px;

}

.beta {

  color: #24B0CF;
  font-size: 10px;
  position: absolute;

}

.header-logo-link {
  color: #2F4C64 !important;
  font-size: 2em;
  font-weight: bold;
}

.map {
  width: 100% !important;
}

.resultInfo {
  margin: 0;
  color: white;
  font-size: 0.9em;
  text-align: center;
  background: #2980B9;
}

.navbar-inner {
  background: #F2F2F2 !important;
  background: linear-gradient(to bottom, #F2F2F2 0%, #EFEFEF 38%, #ECECEC 57%, #EAEAEA 100%) repeat scroll 0 0 transparent !important;
  height: 40px;
}

.twitters iframe {
  width: 60px !important;
}

.text-white {
  color:black;
  background: rgba(255, 255, 255, 0.3);
}

/*INFO WINDOW */
.js-infowindow {
  cursor: default;
  background: #fff;
  border-radius: 4px 0 4px 4px;
  width: 300px;
  height: 145px;
  box-shadow: 1px -2px 12px 1px;
}

.info-imgrentals {
  width:117px;
  height:76px; 
}

.js-infowindow:after {
  bottom: -14px;
  content: "";
  display: block;
  left: 45%;
  position: absolute;
  width: 0;
  border-color: #fff transparent;
  border-style: solid;
  border-width: 15px 15px 0;
}

.info-desc {
  min-height: 50px;
}

.js-closeInfoWindow {
  color: #ffffff;
  padding: 1px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: -12px;
}

.js-closeInfoWindow:hover {
  color: #ff1;
  text-decoration: none;
}

.info-logo {
  position: absolute;
  right: 5px;
  top: 20px;
}

.info-picinfo {
  height: 95px;
  background: white;
}

.info-img {
  margin: 5px;
}

.info-text {
  padding-left: 5px;
  color: #fff;
}

.css-blue {
  color: #24b0cf;
}

.css-green {
  color: #95d17b;
}

.css-red {
  color: #ec5f41;
}

.css-bgblue {
  background-color: #24b0cf;
}

.css-bggreen {
  background-color: #95d17b;
}

.css-bgred {
  background-color: #ec5f41;
}

.info-content ul {
  margin-top: -20px;
  margin:0;
  list-style: none;
}

.info-book-vay {
  background: #95d17b;
}

.info-book-vay:hover {
  color: white;
  background: #255610;
}

.info-book-rid {
  color: white;
  background: #ec5f41;
}

.info-book-rid:hover {
  color: white;
  background: #a41414;
}

.info-book-air {
  color: white;
  background: #24b0cf;
}

.info-book-air:hover {
  color: white;
  background: #0b4f5e;
}

.info-origin {
  text-overflow: ellipsis;
  width: 132px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.info-oridest {
  width: 185px;
  font-size: 0.9em;
}

.p2p-main{
   /* Positioning */
  margin-bottom:37px;
  margin-top:13px;
}
.p2p-line{
  /* Visual */
  border-bottom:1px solid #dddddd;
  padding-top:0.8em;
}
.body-main{
  /* Positioning */
  padding:0 2% 0 2%;
}
.tp2p-text{
  /* Typography */
  text-align:center;
  font-size:24px;
  color:#2b6485;
  font-weight:bold;
  font-family: 'Open Sans','arial',sans-serif;
}
.menu-box{
  /* Positioning */
  height:140px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-top:0.1em;
  width:260px;
}

.menu-box-main {
    margin: 0 auto;
    max-width: 960px;
    width: 960px !important;
} 

.menu-box-red{
  /* Visual */
  background:#ec5f41;
}
.menu-box-blue{
  /* Visual */
  background:#24b0cf;
}
.menu-box-green{
  /* Visual */
  background:#95d17b;
}
.circle{
  /* Typography */
  font-size:10px;
}
.circle-red{
  /* Visual */
  color:#ec5f41;
}
.circle-blue{
  /* Visual */
  color:#24b0cf;
}
.circle-green{
  /* Visual */
  color:#95d17b;
}
.menu-box-details h5{
  /* Typography */
  text-align:left;
}
.circle-main{
  /* Positioning */
  width:9.8% !important;
}
.circle-main ul{
  /* Positioning */
  width:30px;
  margin:50%;
}
.circle-main ul li{
  /* Positioning */
  width:10px;
}
.nav-tabs {
  background: #ECF0F1;
  border: 2px solid #2980B9;
  border-bottom: 0;
  margin: 0 !important;
}

.menu-box-count{
  /* Positioning */
  width:28px;
  height:30px;
  margin-left:5px;
  padding-top:5px;

  /* Visual */
  background:#fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  /* Typography */
  text-align:center;
  font-family:arial;
  font-size:24px;
  font-weight:bold;
}
.menu-box-count-red{
  /* Visual */
  color:#ec5f41;
}
.menu-box-count-blue{
  /* Visual */
  color:#24b0cf;
}
.menu-box-count-green{
  /* Visual */
  color:#95d17b;
}
.menu-box-icon-main{
  /* Typography */
  text-align:center;
  color:#fff;
  width:260px;
}
.menu-box-icon-marker{
  /* Typography */
  font-size:64px;
}
.clear{
  clear:both;
}
.margin-left-20{
  /* Positioning */
  margin-left:20px;
}
.center-circle{
  line-height: 7px;

  /* Positioning */
    margin:0 auto;
    width: 5px;
  margin: 15px auto;
}
.menu-box-title{
  /* Typography */
  color:#6f6f6f;
  font-size:18px;
  font-family: 'Open Sans','arial',sans-serif;

  /* Positioning */
  margin-bottom:0.22em;
}
.menu-box-desc{
  /* Typography */
  color:#6f6f6f;
  font-size:14px;
  font-family: 'Open Sans','arial',sans-serif;

}

/*HOW IT WORKS*/
.hiw-container {
  margin:0 auto;
  width: 940px;
}
.hiw {
  border-radius: 4px;
  width: 260px;
  height: 140px;
  padding-top: 5px;
}

.hiw-num {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: white;
margin-left: 5px;
padding-top: 5px;
}

.hiw-first, .hiw-fourth {
  background: #ec5f41;
}


.hiw-second, .hiw-fifth {
  background: #24b0cf;
}

.hiw-third, .hiw-sixth {
  background: #95d17b;
}

.hiw-icon {
  color: #fff;
  text-align: center;
  font-size: 64px;
}

.hiw-title {
  color: #6f6f6f;
}

.hiw-header {

  padding-top:30px;
  padding-bottom:30px;
}

.hiw-desc {

  line-height:  22px;
  text-align: left;
  width: 260px;
}

 /*END HOW IT WORKS*/
 
.top {
  color: #d8d8d8;
  background: rgba(12, 13, 14, 0.66);
  width: 825px;
  border-radius: 3px;
  margin: 90px auto 0 auto;
}

.around-me:hover {
 background-color: #A41414;

}

.around-me:focus {
background-color: #A41414;

}
.red-bg {
  background: none repeat scroll 0 0 #EC5F41;
}

.blue-bg {

  background: none repeat scroll 0 0 #24B0CF;
}

.search-blue:hover {
 background-color: #2284A1;

}

.search-blue:focus {
background-color: #2284A1;

}
.img-circle {
  width: 36px;
}
.target-icon {
    background: url("../img/icon-target.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    width: 38px;
    height: 38px;
}

.button:hover{

  color:white;
}

.button:focus{

  color:white;
}

.aroundtext {

  margin-left:30px;
  padding-right: 10px;

}

/*landing page search*/
.css-main-search {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
}

.inner-search {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.search-bar-wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #333333;
  border: 1px solid #222222;
  margin: 25px;
  padding: 10px 15px;
  color: #fff;
}

.search-bar-wrapper form {
  margin: 0 !important;
}

.inner-form {
  width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
}


.wearedual {
  height: 40px !important;
}

.css-searchspan {
  font-size: 20px;
  padding: 5px 20px;
}

.css-searchicon {
  color: white;
  font-size: 18px;
}

.css-whataround {
  padding: 8px;
  height: 22px;
  background: #EC5F41 !important;
  transition: background 300ms ease-out;
  width: 168px;
}

.css-whataround:hover {
  background: #a41414 !important;
  transition: background 300ms ease-out;
}

.css-ortext {
  height: 40px;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 40px;
}

.css-searchit {
  transition: background 300ms ease-out;
  background: #2ba6cb !important;
}
.css-searchit:hover {
  transition: background 300ms ease-out;
  background: #2284a1 !important;
}
.geolocate-icon {
  width: 22px;
}

.load-more {
  width: 95%;
  margin: 10px 8px;
  color: white;
  background: #3498DB;
}

.load-more:hover {
  background: #2980B9;
  color: white;
}

.alert-box {
  width: 28em;
  right: 0;
  bottom: 0;
  z-index: 9;
  position: fixed;
}

.filters {
  background: #feffff;
  background: linear-gradient(to bottom, #F2F2F2 0%, #EFEFEF 38%, #ECECEC 57%, #EAEAEA 100%) repeat scroll 0 0 transparent;
  padding: 7px 7px 7px 8px;
  border-radius: 0 0 4px 4px;
  border: 2px solid #2980B9;
  border-top: 0; 
}

.guestfilter {
  width: 85px;
}

.minimax {
  list-style: none;
  width: 76px;
  background: #ddd;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 3px;
  margin-top: -5px;
}

.price-value-min {
  float: left;
}

.price-value-max {
  float: right;
}

.slider_values {
  margin: 0;
  height: 30px;
}

.submit-filter {
  width: 75px;
  margin-top: -35px;
}

.applyflabel {
  display: inline-block;
}
.info-imghover {
  cursor: pointer;
}
.info-imghover:hover {
  border: 1px solid #3d3d3d;
}

.text-center {
  text-align: center !important;
}

.navbar-form .input-prepend {
  margin-bottom: 0;
}

.navbar-form {
  top: 45px;
  position: fixed;
  z-index: 1028;
  right: 21px;
  background-color: rgba(52, 73, 94, 0.85);
  padding: 7px;
  border-radius: 3px;
  width: 478px;
}

/* sidebar div listing */
.lists {
  margin: 0 5px;
}
.css-alist {
  margin: 10px 5px 15px;
  font-size: 0.82em;
  background: #fff;
  border-radius: 9px;
}

.list-head {
  color: white;
  display: block;
  padding: 5px;
  border-radius: 3px 3px 0 0;
}

.list-desc {
  height: 75px;
}

.list-roomImg {
  float: right;
  margin-right: 5px;
  margin-top: -12px;
}

.list-img {
  width: 114px;
  height: 74px;
  transition: border 0.1s linear;
}

.list-img:hover {
  border: solid 1px #C0392B;
}

.list-info {
  display: inline-block;
  padding: 5px 0 0 5px;
}

.list-info ul {
  list-style: none;
  margin: 0;
  border-radius: 0 0 3px 3px;
}

.list-foot {
  background: #ECF0F1;
  padding: 5px 5px 10px 5px;
}

.list-origin {
  text-overflow: ellipsis;
  width: 171px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

/* sort */
.sortfilter {
  width: 100px;
}

.filter-origin-location {
  width: 210px;
  margin-right: 4px;
}

.submit-filter-rid {
  width: 95px;
  margin-top: -10px;
}

.price-filter {
  width: 220px;
  display: inline-block;
  margin-right: 4px;
}

.sortfilter {
  width: 100px;
  margin-top: -25px;
}

.filter-form {
  margin: 0;
}

.seperator {
  background: rgba(0, 0, 0, 0.23);
  width: 94%;
  height: 16px;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  position: absolute;
}

.css-socialicon {
  border-right: 1px solid #fff;
  padding: 12px 7px 12px 0;
}

/* CAROUSEL */
.carousel-indicators {
  cursor: pointer;
}

.carousel-indicators li:hover {
  background-color: #f1f1f1;
}

.carousel-caption {
  color: white;
}

.modal {
  width: 639px;
}

.air-modal-header {
  border-radius: 3px 3px 0 0;
  color: white;
  border: 0;
}

.modal-img {
  width: 100%;
}

.air-modal-body {
  padding: 0;
  height: 426px;
  max-height: 426px;
}

.air-carousel {
  margin: 0;
}

.air-modal-footer {
  padding: 10px 10px 7px;
  background-color: #ECF0F1;
  border-radius: 0;
  box-shadow: inset 0 0 0 #fff;
  text-align: left;
}

.air-nav-foot {
  display: inline-block;
  margin: 0;
}

.carousel-details-text {
  padding: 8px;
  white-space: pre-wrap;
}

.css-details-text {
  width: 380px;
  float: left;
}

.css-details-ameneties {
  float: left;
  width: 240px;
  padding-top: 10px;
}

.details-address {
  margin: 0;
  padding-left: 10px;
}

.tab-streetview {
  height: 426px;
}

.aReview {
  margin: 10px 10px 0 10px;
  padding: 8px;
  background: #f1f1f1;
}

.css-imgnamebig {
  margin-left: 5px; 
}
/*done*/
.white-arrow {
  color: white;
}

.fb-like {
  width: 60px;
}

.rid-button-group a:first-child {
  margin-right: 3px;
  margin-top: -3px;
}

/* list page view */
.lp-sidebar {
  width: 228px;
  margin: 20px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
  top: 93px;
}

.lp-aList {
  margin-bottom: 30px;
}

.lp-list-head {
  border-radius: 3px 3px 0 0;
  padding: 0 8px;
}

.lp-list-title {
  color: white;
  display: inline-block;
}

.lp-list-pp {
  z-index: 1;
  position: relative;
  top: 5px;
  border-radius: 500px;
}

.lp-list-body {
  transition: 0.1s background-color linear;
  background-color: white;
}

.lp-list-body:hover {
  background-color: #ecf0f1;
}

.lpl-airbnb {
  background:url("../img/airbnb.png") no-repeat #24b0cf 627px 3px;
}

.tfpx {
  font-size: 24px;
}

.lp-list-info {
  display: inline-block;
}

.lp-list-info ul {
  margin: 0;
  list-style: none;
}

.lp-left-group {
  height: 144px;
  background-color: #2c3e50;
  float: right;
  width: 100px;
  border-radius: 0 0 3px 0;
  text-align: center;
}

.lp-left-group a {
  margin-top: 10px;
}

.out-btn {
  color: white;
  font-size: 11.9px;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-hou {
  background: #24b0cf;
}

.btn-hou:hover {
  color: white;
  background: #0b4f5e;
}

.lp-list-img {
  cursor: pointer;
  transition: 0.1s opacity linear;
  border-radius: 0 0 0 3px;
}

.lp-list-img:hover {
  opacity: 0.85;
}

.lp-price-filter {
  width: 220px;
  margin-left: -12px;
}

.lp-refineSearch {
  margin-bottom: 10px;
}

.lp-refineSearchForm {
  background-color: rgba(52, 73, 94, 0.85);
  padding: 7px;
  border-radius: 3px;
  height: 30px;
  margin: 0;
}

.lp-refineSearchbtn {
  margin-top: -10px;
}

.lp-arrowwhite {
  color: white;
  vertical-align: text-bottom;
}

.lp-sortfilter {
  width: 197px;
}