.hp-about-tagline {

	font-size: 40px;
    width: 85%;
    font-weight: 300;
    line-height: 118%;
    padding-bottom: 12px;
}

.hp-about-section-left {

	margin-top: 14px !important;
	padding-top: 24px !important;
	font-size: 16px;
	border-top: 1px solid #E0EEF5;
	padding: 0;
	font-weight: normal;
	line-height: 1;

}

.hp-about-section-right {

	padding-left: 300px;
	margin-top: 14px !important;
	padding-top: 24px !important;
	font-size: 16px;
	border-top: 1px solid #E0EEF5;
	font-weight: normal;
	line-height: 1;
}

.hp-about-paragraph-left {

	padding-bottom: 10px;
	font-size: 14px;
	line-height: 22px !important;
	color: #333 !important;
	width: 60%;
	margin: 0 0 15px;
	display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.hp-about-paragraph-right {

	padding-bottom: 10px;
	padding-left: 300px;
	font-size: 14px;
	line-height: 22px !important;
	color: #333 !important;
	width: 60%;
	margin: 0 0 15px;
	display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;



}

.hp-about-img {

	margin-left: 420px;
	position: absolute;
	margin-top: -30px;
	transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-webkit-transform:rotate(7deg); /* Safari and Chrome */

}

.hp-about-img2 {

	margin-left: 0px;
	position: absolute;
	margin-top: -30px;
	transform:rotate(-7deg);
-ms-transform:rotate(-7deg); /* IE 9 */
-webkit-transform:rotate(-7deg); /* Safari and Chrome */

}

.hp-about-img3 {

	margin-left: 480px;
	position: absolute;
	margin-top: -50px;

}