@media only screen and (max-width: 939px) {
	.login{
		background:none !important;
	}
}
body{
	/* Typography */
	font-family:open sans, arial, sans-serif;
}
.row {
	max-width: 100%;
}
.header .top-bar{
	/* Positioning */
	height: 75px;
	padding-top:1em;
	padding-bottom:1em;
	padding-right:1em;
	margin-bottom:0px;

	/* Visual */
	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(239,239,239,1) 38%, rgba(236,236,236,1) 57%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(38%,rgba(239,239,239,1)), color-stop(57%,rgba(236,236,236,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(239,239,239,1) 38%,rgba(236,236,236,1) 57%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(239,239,239,1) 38%,rgba(236,236,236,1) 57%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(239,239,239,1) 38%,rgba(236,236,236,1) 57%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(239,239,239,1) 38%,rgba(236,236,236,1) 57%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}
.header-nav{
	/* Visual */
	background: none !important;
}
.header-nav h1 a{
	/* Positioning */
	padding:0px;
}
.header-logo{
	/* Visual */
	background:url('../img/castel.png') no-repeat;

	/* Positioning */
	height: 50px;
    width: 22px;
}
.header-logo-link{
	/* Typography */
	font-size:3em;
	color:#2f4c64 !important;
}
.header .top-bar.expanded{
	/* Positioning */
	height:auto;
}
.header .top-bar.expanded .title-area{
	/* Visual */
	background: none !important;
}
li.header-nav-list a:not(.button){
	/* Visual */
	background: none;
	color:#2f4c64;
	height: 25px;

	/* Typography */
	font-size:14px;
    line-height: 26px;
}
li.header-nav-list a:not(.button):hover{
	/* Visual */
	background: none;
	color:#1a7e9f;
}
li.login{
	/* Visual */
	background:#fff;
	-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
			border-radius: 8px;

}
li.login a{
	/* Visual */
	color:#ec5f41 !important;
}
li.login a:hover{
	/* Visual */
	color:#e31818 !important;
}
.map{
	/* Positioning */
	height:746px;
}
.mobile-map{
	/* Positioning */
	height:746px;
	max-width:700px;
}
.search-container{
	/* Visual */
   background-color: hsla(0, 0%, 100%, 0.7);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	 /* Positioning */
	height: 83px;
    left: 20%;
    margin-top: -100px;
    padding-left: 20px;
    padding-top: 8px;
    position: absolute;
    right: 20%;
}
.search-container .row {
}
.where-do-input{
	 /* Positioning */
	height:68px !important;
	border:1px solid #000 !important;
	font-size:24px !important;
	width:355px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.p2p-main{
	 /* Positioning */
	margin-bottom:37px;
	margin-top:13px;
}
.p2p-line{
	/* Visual */
	border-bottom:1px solid #dddddd;
	padding-top:0.8em;
}
.body-main{
	/* Positioning */
	padding:0 2% 0 2%;
}
.tp2p-text{
	/* Typography */
	text-align:center;
	font-size:24px;
	color:#2b6485;
	font-weight:bold;
	font-family: 'Open Sans','arial',sans-serif;
}
.menu-box{
	/* Positioning */
	height:140px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-top:0.1em;
	width:260px;
}
.menu-box-red{
	/* Visual */
	background:#ec5f41;
}
.menu-box-blue{
	/* Visual */
	background:#24b0cf;
}
.menu-box-green{
	/* Visual */
	background:#95d17b;
}
.circle{
	/* Typography */
	font-size:10px;
}
.circle-red{
	/* Visual */
	color:#ec5f41;
}
.circle-blue{
	/* Visual */
	color:#24b0cf;
}
.circle-green{
	/* Visual */
	color:#95d17b;
}
.menu-box-details h5{
	/* Typography */
	text-align:left;
}
.circle-main{
	/* Positioning */
	width:9.8% !important;
}
.circle-main ul{
	/* Positioning */
	width:30px;
	margin:50%;
}
.circle-main ul li{
	/* Positioning */
	width:10px;
}
.menu-box-count{
	/* Positioning */
	width:28px;
	height:30px;
	margin-left:5px;
	padding-top:5px;

	/* Visual */
	background:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	/* Typography */
	text-align:center;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
}
.menu-box-count-red{
	/* Visual */
	color:#ec5f41;
}
.menu-box-count-blue{
	/* Visual */
	color:#24b0cf;
}
.menu-box-count-green{
	/* Visual */
	color:#95d17b;
}
.menu-box-icon-main{
	/* Typography */
	text-align:center;
	color:#fff;
	width:260px;
}
.menu-box-icon-marker{
	/* Typography */
	font-size:64px;
}
.clear{
	clear:both;
}
.margin-left-20{
	/* Positioning */
	margin-left:20px;
}
.center-circle{
	line-height: 7px;

	/* Positioning */
    margin:0 auto;
    width: 5px;
	margin: 15px auto;
}
.menu-box-title{
	/* Typography */
	color:#6f6f6f;
	font-size:18px;
	font-family: 'Open Sans','arial',sans-serif;

	/* Positioning */
	margin-bottom:0.22em;
}
.menu-box-desc{
	/* Typography */
	color:#6f6f6f;
	font-size:14px;
	font-family: 'Open Sans','arial',sans-serif;
}
.map-popup {
	/* Box-model */
	width: 300px;
	position: absolute;
	z-index:9999;
	display:none;
	height:145px;

	/* Typography */
	font-size:13px;
}
.map-popup .content {
	/* Typography */
	z-index: 9999;
	color: #666;
	padding-bottom:20px;
}
.map-popup .content .top{
	/* Box-model */
	height:53px;
	padding-left: 17px;
    padding-top: 12px;
}

.green-bg{
	/* Visual */
	background:#95d17b;
}
.blue-bg{
	/* Visual */
	background:#24b0cf;
}
.red-bg{
	/* Visual */
	background:#ec5f41;
}
.triangle-isosceles {
    margin: 1em 0 3em;

	/* Visual */
  	background:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #000000;
	-webkit-box-shadow: 1px 2px 12px 1px ;
	box-shadow: 1px 2px 12px 1px ; 
}
.triangle-isosceles:after {
	/* Box-model */
    bottom: -15px;
    content: "";
    display: block;
    left: 45%;
    position: absolute;
    width: 0;

	/* Visual */
	border-color: #fff transparent;
    border-style: solid;
    border-width: 15px 15px 0;
 }
.green{
	/* Typography */
	color:#95d17b;
}
.blue{
	/* Typography */
	color:#24b0cf;
}
.red{
	/* Typography */
	color:#ec5f41;
}
.info-window-cross{
	/* Positioning */
	margin-top:-12px;
	margin-right:-16px;
	color:#fff;
	padding:4px;
}
.top10{
	/* Positioning */
	margin-top:10px;
}
.search-button{
	/* Typography */
	font-size: 26px;
    font-weight: normal;
	border:none;

	/* Positioning */
    height: 43px;
    padding-bottom: 61px !important;
    padding-top: 7px !important;
    width: 100%;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}
.around-me{
	/* Typography */
	font-size: 26px;
    font-weight: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:none;

	/* Positioning */
    height: 43px;
    padding-bottom: 61px !important;
    padding-top: 7px !important;
    width: 100%;
}
.around-me:hover ,
.around-me:focus{
	 /* Visual */
	background-color:#a41414;
}
.light-blue{
	/* Typography */
	color:#bef3ff;
}
.light-green{
	/* Typography */
	color:#bef3ff;
}
.light-red{
	/* Typography */
	color:#fdcdc3;
}
.white{
	/* Typography */
	color:#fff;
}
.location-text{
	/* Positioning */
	padding-top:5px;
}
.book-now-button{
	/* Positioning */
    height: 26px !important;
    width: 79px !important;

	/* Typography */
	font-weight:normal !important;
	font-size:10px !important;
	line-height:12px !important;
	border:none;	
}
.more-info-button{
	/* Typography */
	font-weight:normal !important;
	font-size:10px !important;
	border:none;

	/* Positioning */
    height: 26px !important;
	padding-top:3px !important;
}
.info-box-info{
	/* Positioning */
	margin-left:4px;
}
.info-box-info ul{
	/* Typography */
	line-height:1;
	list-style:none;
}
.info-box-btns-main{
	/* Positioning */
	margin-left:-5px;
}
.info-box-btns-main a{
	/* Visual */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.info-box-icons{
	/* Typography */
	font-size:15px;
}
.top4{
	/* Positioning */
	margin-top:4px;
}
.info-box-img{
	/* Positioning */
	margin-left:16px;
}
.info-window-cross:hover{
	/* Typography */
	color:#fff;
}
 .blue-info-box-main li .button:hover ,
 .blue-info-box-main  li .button:focus{
	/* Visual */
	background-color:#0b4f5e;
}
 .green-info-box-main li .button:hover ,
 .green-info-box-main  li .button:focus{
	/* Visual */
	background-color:#255610;
}
 .red-info-box-main li .button:hover ,
 .red-info-box-main  li .button:focus{
	/* Visual */
	background-color:#a41414;
}
.info-box-info ul{
	/* Positioning */
	margin-bottom:0.25em;
}
.search-button-main{
	/* Positioning */
	width:18% !important;
	margin-right:4%;
}
.max-960{
	/* Positioning */
	max-width:960px;
	margin:0 auto;

	/* Typography */
	text-align:center;
}
.search-col{
	/* Positioning */
	width: 37.667% !important;
}
.target-icon{
	/* Visual */
    background: url("../img/icon-target.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;

	/* Box-model */
    height: 38px;
    margin-left: 10px;
    margin-top: 9px;
    width: 38px;
}
.search-icon{
	/* Typography */
	font-size:36px;

	/* Positioning */
	margin-right:6px;
}
.ride-share{
	/* Visual */
	background: url("../img/ride-share.png") no-repeat scroll 0 0 transparent;
    float: left;

	/* Positioning */
    margin-left: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 10px;
}
.ride-share-list{
	/* Positioning */
	margin-top:3px;
}
.ride-share-text{
	display: block;
    float: left;
}
.gps-location-icon{
    
	/* Visual */
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
	background-color: #2ea5ed;
    background-image: -moz-linear-gradient(top,#38b1ef,#2094e9);
    background-image: -ms-linear-gradient(top,#38b1ef,#2094e9);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#38b1ef),to(#2094e9));
    background-image: -webkit-linear-gradient(top,#38b1ef,#2094e9);
    background-image: -o-linear-gradient(top,#38b1ef,#2094e9);
    background-image: linear-gradient(top,#38b1ef,#2094e9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38b1ef',endColorstr='#2094e9',GradientType=0);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
    box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

	/* Positioning */
    position: absolute;
	margin-top:260px;
	position:absolute;
	margin-left:20%;
	height: 24px;
    width: 24px;
	z-index: 2;
    width: 12px;
    height: 12px;

}
.menu-box-main{
	/* Positioning */
	width:960px !important;
	margin:0 auto;
	max-width:960px;
}
.main-menu .columns{
	/* Positioning */
	padding-left:0px;
	padding-right:0px;
}
.menu-box-col-box{
	/* Box-model */
	width:26.8% !important;
}
.circle-main{
	/* Box-model */
	width:8.33333%
}
.top-bar{
	/* Visual */
	-webkit-box-shadow:0 -22px 89px 13px black;
	-moz-box-shadow:0 -22px 89px 13px black;
	box-shadow:0 -22px 89px 13px black;
	z-index:10000;
}
.company-logo{
	/* Positioning */
	margin-right:10px;
}
.guide-company-logo{
	/* Positioning */
	margin-top:-16px;
}
.vichle-company-logo{
	/* Positioning */
	margin-top:-17px;
}
.gps-location-center,.gps-location-pulse {
	/* Visual */
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	border-radius:30px !important;
	
	/* Positioning */
	position:absolute;
}

.gps-location-center {
	/* Box-model */
	width: 12px;
    height: 12px;
	
	/* Visual */
    background-color: #2ea5ed;
    background-image: linear-gradient(top,#38b1ef,#2094e9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38b1ef',endColorstr='#2094e9',GradientType=0);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
    box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
    border: 1px solid rgba(0,0,0,0.1);
    z-index: 2;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

	/* Positioning */
	margin-top:260px;
	position:absolute;
	margin-left:192px;
}

.gps-location-pulse {
	/* Box-model */
    width: 60px;
    height: 60px;

	/* Positioning */
	position: absolute;
	margin-top:235px;
	position:absolute;
	margin-left: 168px;	
	
	/* Visual */
    background: #38b1ef;
	z-index: 1;
    border: #2094e9;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: pulse;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-out;
    -o-animation-name: pulse;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-out;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
