<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Outpost - Lookup peer to peer listings all in one place</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Outpost is the center point of the sharing economy. If you're going on a trip, you can save time and money by booking peer to peer services with Outpost">
    <meta name="viewport" content="width=device-width">

    <link rel="image_src" href="http://outpost.travel/img/logo194.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-ui-1.10.0.custom.css">
    <link rel="stylesheet" href="css/custom-24.css">
</head>
<body>
  <div class="bs-load" id="js-bsload" style="display:none">
    <span class="icon-spinner icon-spin icon-2x"></span>
  </div>

  <header id="js-navbar">
    <!-- Menu injection goes here -->
  </header>

  <main class="main-wrapper" id="js-page">
    <section class="pg-page" id="pg-home"></section>
    <section id="pg-mapview">
      <aside class="pg-page" id="sidebar"></aside>
      <aside class="pg-page" id="refine-search"></aside>
      <article class="pg-page span12 map map-cont" id="map"></article>
    </section>
    <section class="pg-page" id="pg-listview"></section>
    <section class="pg-page" id="pg-singleview"></section>
    <section class="pg-page" id="pg-help"></section>
    <div class="push-footer"></div>
  </main>

  <footer class="js-footer" id="js-footer">
    <div class="footer-container">
      <div class="footer-left">
        <ul class="footer-links">
          <li><a class="btn-foot" href="#!/help/about">About</a></li>
          <li class="">·</li>
          <li><a class="btn-foot" href="#!/help/jobs">Jobs</a></li>
          <li class="">·</li>
          <li><a class="btn-foot" href="#!/help/affiliate">Affiliate</a></li>
          <li class="">·</li>
          <li><a class="btn-foot" href="#!/help/press">Press</a></li>
          <li class="">·</li>
          <li><a class="btn-foot" href="#!/help/contact">Contact</a></li>
          <li class="">&nbsp;</li>
          <li><small class="muted">© Outpost.travel</small></li>
        </ul>
        <div class="foot-social">
          <a class="twitter-share-button btn-social" data-via="outposttravel" data-text="If you're going on a trip, you can save time and money by booking peer to peer services with http://outpost.travel" data-lang="en" href="https://twitter.com/share"></a>
          <a class="twitter-follow-button btn-social" data-show-count="true" href="https://twitter.com/Outposttravel"></a>
          <div class="fb-like btn-social" data-href="https://www.facebook.com/outpost.travel" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
        </div>
      </div>
      <div class="footer-right">
      </div>
    </div>
  </footer>

  <div id="js-modals-section">
    <!-- Modals goes here -->
  </div>

  <div class="alert-box" id="alert-box">
  </div>

  <div class="slb modal hide fade" id="slb">
  </div>

  <div id="hou-slb">
  </div>

  <!-- Signup Modal -->
  <div id="js-signup-modal" class="modal hide fade css-signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-outpost" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="signup-outpost-header">Sign up for Outpost</h3>
    </div>
    <div class="modal-body">
      <div class="css-social-logins">
        <button class="btn-facebook" id="js-fb-su" href="javascript:void(0)">
          <div class="fb-icon-holder"><i class="icon-facebook icon-fb-sign"></i></div>
          <div class="fb-text">Connect with Facebook</div>
        </button>
      </div>
      <div class="signup-or-separator shift">
        <span class="or-text">or</span>
        <hr>
      </div>
      <div class="signup-form" id="signup-form">
        <a class="already-member" href="javascript:void(0)">Already an Outpost member ?</a>
        <form id="js-signup-form" data-validate="parsley">
          <div class="textInput">
            <input id="js-su-first_name" data-required="true" data-required-message="First Name is required" name="name" type="text" placeholder="First Name">
            <i class="icon-user sign-input-icon"></i>
          </div>
          <div class="textInput">
            <input id="js-su-email" data-trigger="change" data-required="true" data-type="email" data-required-message="Email is Required" data-type-email-message="Please enter a valid email address" name="email" type="email" placeholder="Email Address">
            <i class="icon-envelope sign-input-icon"></i>
          </div>
          <div class="textInput">
            <input id="js-su-password" data-required="true"  data-required-message="Password is required" data-minlength="6" data-minlength-message="Password should be at least 6 characters" name="password" type="password" placeholder="Password">
            <i class="icon-lock sign-input-icon"></i>
          </div>
          <button type="submit" class="out-btn registeration-btn" id="js-su-submit">Create Account</button>
        </form>
      </div>
      <div class="login-form" id="login-form" style="display: none;">
        <a class="already-member" href="javascript:void(0)">Don't have an account ?</a>
        <form id="js-login-form" data-validate="parsley">
          <div class="textInput">
            <input id="js-lo-email" data-trigger="change" data-required="true" data-type="email" data-required-message="Email is Required" data-type-email-message="Please enter a valid email address" name="email" type="email" placeholder="Email Address">
            <i class="icon-envelope sign-input-icon"></i>
          </div>
          <div class="textInput">
            <input id="js-lo-password" data-required="true"  data-required-message="Password is required" data-minlength="6" data-minlength-message="Password should be at least 6 characters" name="password" type="password" placeholder="Password">
            <i class="icon-lock sign-input-icon"></i>
          </div>
          <button type="submit" class="out-btn registeration-btn" id="js-lo-submit">Login</button>
        </form>
      </div>
    </div>
  </div>

  <!-- About Modal -->
  <div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="about-outpost" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="about-outpost">About Outpost</h3>
    </div>
    <div class="modal-body">
      <p>Outpost is a search engine that aggregates listings from many peer to peer websites 
        such as houserental, rideshare, tourism, etc. and lists them into one place. Users can plan 
        their trip using sharing economy services only and compare prices between the appropriate 
        networks. The service allows them to book rideshares, places to stay and activities at
        the most affordable prices available. This new way of travelling is based solely on non-commercial
        services and allows users to discover unique experiences at their destination that no commercial
        service can offer. Human hosts, drivers and guides that are eager to show you the secrets of their
        city make Outpost the new way to travel.
      </p>
      <a href="https://twitter.com/Outposttravel" class="twitter-follow-button" data-show-count="false">Follow @Outposttravel</a>
      <p class="pull-right">
        Please contact us, we're begging for feedback: <a href="mailto:info@outpost.travel">info@outpost.travel</a> <br>
      </p>
    </div>
  </div>

  <!-- Affiliate Modal -->
  <div id="affiliate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="affiliate-outpost" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="affiliate-outpost">Affiliate with us</h3>
    </div>
    <div class="modal-body">
      <p>
        We're still early stage and looking for p2p networks to feature in our platform. If you own something that you think should be in Outpost, don't hesitate to email us at <a href="mailto:info@outpost.travel">info@outpost.travel</a>
      </p>
      <p>However, if you are a user, you can still suggest us which P2P networks we've missed so we can bring them in Outpost.</p>
      <p>Thank you for your interest.</p>
      <a href="https://twitter.com/Outposttravel" class="twitter-follow-button" data-show-count="false">Follow @Outposttravel</a>
    </div>
  </div>

  <!-- NAVBAR MENU TMPL -->
  <script id="tmpl-navbar" type="text/template">
    <div class="navbar">
      <div class="navbar-outpost">
        <div class="container navbar-container">
          <a class="header-logo-link" href="/">
            <img class="logo" src="img/outpost_logo.png" alt="outpost logo">
          </a>
          <div class="css-mainmenu js-mainmenu" id="js-mainmenu">
            <ul class="css-nav">
              <li><a class="navbar-btn quick-search-btn" id="js-whataround" href="#!/search/">
                <div class="inner-button-contents">
                  <i class="icon-location-arrow"></i>
                  <span>What's around me ?</span>
                </div>
              </a></li>
              <% if (!name) { %>
                <li><button class="navbar-btn sign-up-btn" data-toggle="modal" href="#js-signup-modal">Sign up</button></li>
              <% } else { %>
                <li><a class="navbar-btn stash-btn" id="js-stash" href="javascript:void(0)">
                  <div class="inner-button-contents">
                    <i class="icon-cart"></i>
                    <span>Stash</span>
                  </div>
                </a></li>
                <li><a class="btn-nav"><%= name %></a></li>
                <li><a class="btn-nav js-logout" href="javascript:void(0)">Logout</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- REFINE SEARCH TMPL -->
  <script id="tmpl-refine-search" type="text/template">
    <% var guests = Outpost.state.searchFilter.guests; %>
    <form class="navbar-form" id="js-refineSearch">
      <input class="filter-origin-location" id="js-orig-location-input" value="<%= Outpost.values.origLocation %>" type="search" placeholder="From location">
      <strong class="white-arrow">&nbsp;→&nbsp;</strong>
      <input id="js-search-again" type="search" placeholder="Destination Location">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <input class="input-small" placeholder="Leaving on" value="<%= Outpost.state.searchFilter.sdate %>" id="js-sdate-input" type="search">
        <input class="input-small" placeholder="Check out" id="js-edate-input" value="<%= Outpost.state.searchFilter.edate %>" type="search">
      </div>
      <select class="guestfilter" id="js-guest-input">
        <option disabled value="1">People</option>
        <option <%= guests ==="1" ? "selected" : '' %> value="1">1</option>
        <option <%= guests ==="2" ? "selected" : '' %> value="2">2</option>
        <option <%= guests ==="3" ? "selected" : '' %> value="3">3</option>
        <option <%= guests ==="4" ? "selected" : '' %> value="4">4</option>
        <option <%= guests ==="5" ? "selected" : '' %> value="5">5</option>
      </select>
      <button class="btn btn-info refineSearchbtn" id="refineSearchbtn" type="submit">Refine Search</button>
    </form>
  </script>

  <!-- RESULT FOuND TMPL -->
  <script id="tmpl-resultInfo" type="text/template">
    <span id="js-counter"><%= numOfRes %></span> results found for <%= city %>
  </script>

  <!-- ALERT BOX TMPL -->
  <script id="tmpl-alert" type="text/template">
    <div class="alert <%= type %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= text %>
    </div>
  </script>

  <!-- LIGHT BOX IMG TMPL -->
  <script id="tmpl-slb" type="text/template">
    <div class="modal-body">
      <img src="<%= src %>">
    </div>
  </script>

  <!-- CAROUSEL TMPL -->
  <script id="tmpl-carousel" type="text/template">
    <div id="svhouCarousel" class="carousel slide air-carousel">
      <ol class="carousel-indicators">
        <% var j = 0; %>
        <% _.each(imgs, function(src) { %>
          <li data-target="#svhouCarousel" data-slide-to="<%= j %>" class="<%= j ? '' : 'active' %>"></li>
          <% j++ %>
        <% }); %>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner sv-hou-carousel-inner">
        <% var i = 0; %>
        <% _.each(imgs, function(src) { %>
          <div class="item <%= i ? '' : 'active' %> ">
            <img class="modal-img" src="<%= src %>">
            <% if (captions[i]) { %>
              <div class="carousel-caption">
                <h5><%= captions[i] %></h5>
              </div>
            <% } %>
          </div>
          <% i++ %>
        <% }); %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#svhouCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#svhouCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </script>

  <script id="tmpl-rideshareRow" type="text/template">
    <% var markers = []; %>
    <% _.each(items, function(item) {
      Outpost.state.numOfRes++
      var id = "rid" + item.id;
      item.markerid = id;
      var json_item = JSON.stringify(item);
      markers.push({
        latLng: Outpost.helpers.genRdmLLCC(item.origin).latLng,
        data: item,
        id: id,
        tag: "rid"
      });
    %>
      <div class="tr-rideshare tr css-alist <%= id %>" data-item='<%= json_item %>'>
        <span class="list-head" style="background:url(<%= item.infoWindowIcon %>) no-repeat #ec5f41 310px 5px;">
          <img class="img-circle" width="36px" height="36px" src="<%= item.img %>">
          <span><%= item.desc %></span>
        </span>
        <span class="list-rid-pricewrap">
          <span class="list-rid-price">$<%= item.price2 %></span>
          <span class="list-rid-pricedesc">per seat</span>
        </span>
        <div class="list-desc">
          <span class="list-info">
            <ul>
              <li>
                <span class="icon-time css-blue"></span>
                <span><%= item.dates + " - " + item.time %></span>
              </li>
              <li>
                <span class="icon-map-marker css-green"></span>
                <span class="list-location-desc"><%= item.origin %> → <%= item.destination %></span>
              </li>
              <li>
                <span class="icon-user css-red"></span>
                <span><%= item.seat > 1 ? item.seat + " seats" : item.seat + " seat" %> left</span>
              </li>
            </ul>
          </span>
        </div>
        <div class="list-foot">
          <span>
            <i class='icon-road'></i>&nbsp;Rideshare
          </span>
          <div class="rid-button-group pull-right">
            <a data-orig="<%= item.origin %>" data-dest="<%= item.destination %>" class="btn btn-small routeit">
              See route&nbsp;<i class="icon-random"></i>
            </a>
            <a class="btn btn-small info-book-rid ga-gotovendor" href="<%= item.link %>" target="_blank">
              Grab a seat&nbsp;<i class="icon-share"></i>
            </a>
          </div>
        </div>
      </div>
    <% }); %>
    <% $('#rideshare').attr('data-markers', JSON.stringify(markers)); %>
  </script>

  <script id="tmpl-rideshareRowReturn" type="text/template">
    <% var markers = []; %>
    <% _.each(items, function(item) {
      Outpost.state.numOfRes++
      var id = "rid" + item.id;
      item.markerid = id;
      var json_item = JSON.stringify(item);
      markers.push({
        latLng: Outpost.helpers.genRdmLLCC(item.origin).latLng,
        data: item,
        id: id,
        tag: "rid"
      });
    %>
      <div class="tr-rideshareReturn tr css-alist <%= id %>" data-item='<%= json_item %>'>
        <span class="list-head" style="background:url(<%= item.infoWindowIcon %>) no-repeat #ec5f41 310px 5px;">
          <img class="img-circle" width="36px" height="36px" src="<%= item.img %>">
          <span><%= item.desc %></span>
        </span>
        <span class="list-rid-pricewrap">
          <span class="list-rid-price">$<%= item.price2 %></span>
          <span class="list-rid-pricedesc">per seat</span>
        </span>
        <div class="list-desc">
          <span class="list-info">
            <ul>
              <li>
                <span class="icon-time css-blue"></span>
                <span><%= item.dates + " - " + item.time %></span>
              </li>
              <li>
                <span class="icon-map-marker css-green"></span>
                <span class="list-location-desc"><%= item.origin %> → <%= item.destination %></span>
              </li>
              <li>
                <span class="icon-user css-red"></span>
                <span><%= item.seat > 1 ? item.seat + " seats" : item.seat + " seat" %> left</span>
              </li>
            </ul>
          </span>
        </div>
        <div class="list-foot">
          <span>
            <i class='icon-road'></i>&nbsp;Rideshare
          </span>
          <div class="rid-button-group pull-right">
            <a data-orig="<%= item.origin %>" data-dest="<%= item.destination %>" class="btn btn-small routeit">
              See route&nbsp;<i class="icon-random"></i>
            </a>
            <a class="btn btn-small info-book-rid ga-gotovendor" href="<%= item.link %>" target="_blank">
              Grab a seat&nbsp;<i class="icon-share"></i>
            </a>
          </div>
        </div>
      </div>
    <% }); %>
    <% $('#rid-tab-return').attr('data-markers', JSON.stringify(markers)); %>
  </script>

  <script id="tmpl-houserentalRow" type="text/template">
    <% 
      var markers = [];
      _.each(items, function(item) {
        Outpost.state.numOfRes++
        var id = "hou" + String(item.id);
        item.markerid = id;
        var json_item = JSON.stringify(item);
        var price = "$" + item.price2 + " USD";
        markers.push({
          latLng: item.latLng || Outpost.helpers.genRdmLLCC(item.neigh).latLng,
          data: item,
          id: id,
          tag: "hou"
        });
    %>
      <div class="tr-houserental tr css-alist <%= id %>" data-item='<%= json_item %>'>
        <span class="list-head" style="background:url(<%= item.infoWindowIcon %>) no-repeat #24b0cf 314px 5px;">
          <img class="img-circle" width="36px" height="36px" src="<%= item.profileImg %>">
          <span><%= item.desc %></span>
        </span>
        <div class="list-desc">
          <span class="list-roomImg">
            <img class="img-polaroid list-img hou-listimg" data-id="<%= id %>" src="<%= item.roomImg %>">
          </span>
          <span class="list-info">
            <ul>
              <li>
                <span class="icon-home css-blue"></span>
                <span><%= item.type %></span>
              </li>
              <li>
                <span class="icon-map-marker css-green"></span>
                <span class="list-origin"><%= item.neigh %></span>
              </li>
              <li>
                <span class="icon-money css-red"></span>
                <span><b>$<%= item.price2 %></b> per night</span>
              </li>
            </ul>
          </span>
        </div>
        <div class="list-foot">
          <span>
            <i class='icon-home'></i>&nbsp;House rental
          </span>
          <a class="btn btn-small info-book-air ga-gotovendor info-details" data-id="<%= id %>" href="javascript:void(0)">
            Details&nbsp;<i class="icon-play"></i>
          </a>
          <a class="btn btn-small info-book-air ga-gotovendor pull-right mgr5" href="<%= item.link %>" target="_blank">
            Book It&nbsp;<i class="icon-share"></i>
          </a>
        </div>
      </div>
    <%
      });
      $('#houserental').attr('data-markers', JSON.stringify(markers));
    %>
  </script>

  <script id="tmpl-tourismRow" type="text/template">
    <% var markers = []; %>
    <% _.each(items, function(item) { %>
      <% Outpost.state.numOfRes++ %>
      <%
        var id = "tou" + item.id;
        item.markerid = id;
        var json_item = JSON.stringify(item);
        markers.push({
          latLng: Outpost.helpers.genRdmLLCC(item.origin).latLng,
          data: item,
          id: id,
          tag: "tou"
        });
      %>
      <div class="tr-tourism tr css-alist <%= id %>" data-item='<%= json_item %>'>
        <span class="list-head" style="background:url(<%= item.infoWindowIcon %>) no-repeat #95d17b 306px 5px;">
          <img class="img-circle" width="36px" height="36px" src="<%= item.profileImg %>">
          <span><%= item.desc %></span>
        </span>
        <div class="list-desc">
          <span class="list-roomImg">
            <img class="img-polaroid list-img tou-listimg" src="<%= item.img %>">
          </span>
          <span class="list-info">
            <ul>
              <li>
                <span class="icon-user css-blue"></span>
                <span>City guide</span>
              </li>
              <li>
                <span class="icon-map-marker css-green"></span>
                <span class="list-origin"><%= item.origin %></span>
              </li>
              <li>
                <span class="icon-money css-red"></span>
                <span><b>$<%= item.price2 %></b> per person</span>
              </li>
            </ul>
          </span>
        </div>
        <div class="list-foot">
          <span>
            <i class='icon-user'></i>&nbsp;Tourism
          </span>
          <a class="btn btn-small info-book-vay ga-gotovendor pull-right" href="<%= item.link %>" target="_blank">
            Book It&nbsp;<i class="icon-share"></i>
          </a>
        </div>
      </div>
    <% }); %>
    <% $('#tourism').attr('data-markers', JSON.stringify(markers)); %>
  </script>

  <script id="tmpl-single" type="text/template">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="item-wrapper">
            <div class="panel-header css-bgsilver">
              <h2 class="panel-title">Loading page..</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="tmpl-rid-well" type="text/template">
    <%
      var offer = numOfItems > 1 ? "offers" : "offer";
      if (date) {
        date = "on <b>" + date.format("dddd, MMMM D") + "</b>";
      } else {
        date = "<b>whenever</b>";
      }
    %>
    <% if (origLocation && !destLocation) { %>
    Showing <b><%= numOfItems %> ride</b> <%= offer %> leaving near <b><%= origLocation %></b> leaving <%= date %>.
    <% } else if (!origLocation && destLocation) { %>
      Showing <b><%= numOfItems %> ride</b> <%= offer %> going towards <b><%= destLocation %></b> leaving <%= date %>.
    <% } else if (origLocation && destLocation) { %>
      Showing <b><%= numOfItems %> ride</b> <%= offer %> leaving near <b><%= origLocation %></b> going towards <b><%= destLocation %></b> leaving <%= date %>.
    <% } else { %>
      No rides found. Make sure to type the desired city in the search area.
    <% } %>
  </script>

  <script id="tmpl-hou-well" type="text/template">
    <%
      var place = numOfItems > 1 ? "places" : "place";
      var location = destLocation || origLocation;
      if (sdate) {
        sdate = "available from <b>" + sdate.format("dddd, MMMM D") + "</b>";
        if (edate) {
          edate = "to <b>" + edate.format("dddd, MMMM D") + "</b>";
        } else {
          edate = "";
        }
      } else {
        sdate = "";
        edate = "";
      }
      guests = guests > 1 ? guests + " guests" : guests + " guest";
    %>
    <% if (location) { %>
    Showing <b><%= numOfItems %> <%= place %></b> near <b><%= location %></b> <%= sdate %> <%= edate %> that accommodates <b>at least <%= guests %></b>.
    <% } else { %>
    Showing <b><%= numOfItems %> <%= place %></b> around the world <%= sdate %> <%= edate %> that accommodates <b>at least <%= guests %></b>.
    <% } %>
  </script>

  <script id="tmpl-tou-well" type="text/template">
    <%
      var location = destLocation || origLocation;
      var guides = numOfItems > 1 ? "guides" : "guide";
    %>
    <% if (location) { %>
    Showing <b><%= numOfItems %> <%= guides %></b> near <b><%= location %></b>.
    <% } else { %>
    Showing <b><%= numOfItems %> <%= guides %></b> around the world</b>.
    <% } %>
  </script>

  <script id="tmpl-rid-aList" type="text/template">
    <% _.each(items, function(item) { %>
    <%
      var json_item = JSON.stringify(item);
      var idtype = "alist-" + item.idtype;
      var id = "rid-" + item.id;
    %>
    <div class="lp-aList lp-aList-rid <%= idtype %> <%= id %>" data-item='<%= json_item %>'>
      <div class="lp-list-head lpl-<%= item.idtype %>">
        <img class="lp-list-pp" src="<%= item.img %>">
        <h4 class="lp-list-title"><a href="/#!/item/rideshare/<%= item.idtype %>/<%= item.uri %>" target="_blank"><%= item.date + " - " + item.time %></a></h4>
      </div>
      <div class="lp-list-body">
        <div class="lp-rid-wrap">
          <div class="lp-rid-pricewrap">
            <div class="lp-rid-price">$<%= item.price %></div>
            <div class="lp-rid-pricedesc">per seat</div>
          </div>
          <div class="lp-rid-seatwrap">
            <div class="lp-rid-seat"><%= item.seat %></div>
            <div class="lp-rid-seatdesc"><%= item.seat > 1 ? " seats" : " seat" %> left</div>
          </div>
        </div>
        <div class="lp-rid-block">
        <% if (item.desc)  { %>
          <div class="lp-rid-orig-block lp-origdest-block">
            <h5 class="rid-block-title"><%= item.origin %></h5>
          </div>
          <h3 class="lp-arrow-block">→</h3>
          <div class="lp-rid-dest-block lp-origdest-block">
            <h5 class="rid-block-title"><%= item.destination %></h5>
          </div>
          <p class="rid-block-text"><%= item.desc %></p>
        <% } else { %>
          <div class="lp-rid-orig-block lp-origdest-block">
            <h5 class="rid-block-title"><%= item.origin %></h5>
            <p class="rid-block-loc"><%= item.location1 %></p>
          </div>
          <h3 class="lp-arrow-block">→</h3>
          <div class="lp-rid-dest-block lp-origdest-block">
            <h5 class="rid-block-title"><%= item.destination %></h5>
            <p class="rid-block-loc"><%= item.location2 %></p>
          </div>
        <% } %>
          <div class="lp-directions direcrid<%= item.id %>" style="display: none;">
            <div><i class="icon-road"></i>&nbsp;<span class="lp-rid-km"></span></div>
            <div><i class="icon-time"></i>&nbsp;<span class="lp-rid-dur"></span></div>
          </div>
        </div>
        <span class="lp-left-group">
          <a class="out-btn btn-rid btn-rid-details" href="/#!/item/rideshare/<%= item.idtype %>/<%= item.uri %>" target="_blank">Details &nbsp;<i class="icon-play"></i></a>
          <a class="out-btn btn-rid btn-rid-bookit" href="<%= item.link %>" target="_blank">Book it &nbsp;<i class="icon-share"></i></a>
          <a class="out-btn btn-rid btn-rid-map" data-id="<%= id %>" href="javascript:void(0)">Map &nbsp;<i class="icon-globe"></i></a>
        </span>
      </div>
      <div class="lp-extra rid-extra erid<%= item.id %>" style="display: none"></div>
    </div>
    <% }); %>
  </script>

  <script id="tmpl-hou-aList" type="text/template">
    <% _.each(items, function(item) { %>
    <%
      var json_item = JSON.stringify(item);
      var idtype = "alist-" + item.idtype;
      var id = "hou-" + item.id;
    %>
    <div class="lp-aList lp-aList-hou <%= idtype %> <%= id %>" data-item='<%= json_item %>'>
      <div class="lp-list-head lpl-<%= item.idtype %>">
        <img class="lp-list-pp" src="<%= item.profileImg %>">
        <h4 class="lp-list-title"><a href="/#!/item/houserental/<%= item.idtype %>/<%= item.uri %>" target="_blank"><%= item.desc %></a></h4>
      </div>
      <div class="lp-list-body">
        <img class="lp-list-img" data-id="<%= id %>" src="<%= item.roomImg %>">
        <div class="lp-list-info">
          <ul>
            <li>
              <span class="icon-home css-blue tfpx"></span>
              <span class="lp-list-type"><%= item.type %></span>
            </li>
            <li>
              <span class="icon-map-marker css-green tfpx"></span>
              <span class="lp-list-location"><%= item.neigh %></span>
            </li>
          </ul>
          <div class="lp-hou-pricewrap">
            <div class="lp-hou-price">$<%= item.price %></div>
            <div class="lp-hou-pricedesc">per night</div>
          </div>
        </div>
        <span class="lp-left-group">
          <a class="out-btn btn-hou btn-hou-details" href="/#!/item/houserental/<%= item.idtype %>/<%= item.uri %>" target="_blank">Details &nbsp;<i class="icon-play"></i></a>
          <a class="out-btn btn-hou btn-hou-bookit" href="<%= item.link %>" target="_blank">Book it &nbsp;<i class="icon-share"></i></a>
          <a class="out-btn btn-hou btn-hou-map" data-id="<%= id %>" href="javascript:void(0)">Map &nbsp;<i class="icon-globe"></i></a>
        </span>
      </div>
      <div class="lp-extra hou-extra ehou<%= item.id %>" style="display: none"></div>
    </div>
    <% }); %>
  </script>

  <script id="tmpl-tou-aList" type="text/template">
    <% _.each(items, function(item) { %>
    <%
      var json_item = JSON.stringify(item);
      var idtype = "alist-" + item.idtype;
      var id = "tou-" + item.id;
    %>
    <div class="lp-aList lp-aList-tou <%= idtype %> <%= id %>" data-item='<%= json_item %>'>
      <div class="lp-list-head lpl-<%= item.idtype %>">
        <img class="lp-list-pp" src="<%= item.profileImg %>">
        <h4 class="lp-list-title"><a href="/#!/item/localguide/<%= item.idtype %>/<%= item.uri %>" target="_blank"><%= item.desc %></a></h4>
      </div>
      <div class="lp-list-body">
        <img class="lp-list-img-tou" data-id="<%= id %>" src="<%= item.img %>">
        <div class="lp-list-info">
          <ul>
            <li>
              <span class="icon-user css-blue tfpx"></span>
              <span class="lp-list-type">City guide</span>
            </li>
            <li>
              <span class="icon-map-marker css-green tfpx"></span>
              <span class="lp-list-location"><%= item.origin %></span>
            </li>
          </ul>
          <div class="lp-tou-pricewrap">
            <div class="lp-tou-price">$<%= item.price %></div>
            <div class="lp-tou-pricedesc">per person</div>
          </div>
        </div>
        <span class="lp-left-group">
          <a class="out-btn btn-tou btn-tou-details" href="/#!/item/localguide/<%= item.idtype %>/<%= item.uri %>" target="_blank">Details &nbsp;<i class="icon-play"></i></a>
          <a class="out-btn btn-tou btn-tou-bookit" href="<%= item.link %>" target="_blank">Book it &nbsp;<i class="icon-share"></i></a>
          <a class="out-btn btn-tou btn-tou-map" data-id="<%= id %>" href="javascript:void(0)">Map &nbsp;<i class="icon-globe"></i></a>
        </span>
      </div>
      <div class="lp-extra tou-extra etou<%= item.id %>" style="display: none"></div>
    </div>
    <% }); %>
  </script>

  <!-- DEPENDENCIES -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/parse-1.2.8.min.js"></script>
  <script src="js/vendor/backbone-min.js"></script>
  <!-- EXTRA LIBRARIES -->
  <script src="//maps.googleapis.com/maps/api/js?&amp;sensor=false&amp;libraries=places"></script>
  <script src="js/vendor/gmap3.js"></script>
  <script src="js/vendor/parsley.js"></script>
  <script src="js/vendor/waypoints.min.js"></script>
  <script src="js/vendor/backbone.queryparams.js"></script>
  <script src="js/vendor/moment.min.js"></script>
  <!-- MVC -->
  <script src="js/app/helpers-24.js"></script>
  <script src="js/app/views-24.js"></script>
  <script src="js/app/router-24.js"></script>
  <!-- CUSTOM -->
  <script src="js/main-24.js"></script>
  <!-- FACEBOOK SDK -->
  <!-- 
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      Parse.FacebookUtils.init({
        appId      : '513949188651801',
        channelUrl : '//OUTPOST.TRAVEL/channel.php',
        xfbml      : true
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('9204-674-10-6706');/*]]>*/</script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>

  <script type="text/javascript">
  _atrk_opts = { atrk_acct:"pNdKh1awVK00ay", domain:"outpost.travel",dynamic: true};
  (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
  </script>
  <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=pNdKh1awVK00ay" style="display:none" height="1" width="1" alt="" /></noscript>
 -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39723359-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
