body {
  background: #f1f1f1;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {

  text-decoration:none;
}
.pac-container:after {
  content: "" !important;
}

.pac-item {
  padding: 0.5em;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.pac-container > .pac-item:nth-child(odd) {
  background: rgba(236, 236, 236, 0.7);
}

.pac-container > .pac-item:nth-child(odd):hover {
  background: #274c74;
}
.pac-item:hover {
  background: #274c74;
  color: #fff;
}
.pac-selected {
  background: #274c74 !important;
  color: #fff;
}

.tooly:hover {
  text-decoration: none;
}

.css-logo-bar {
  width:100%;
  min-height:82px;
  overflow:hidden;
  margin-top: -83px;
  border-top:1px solid #4e4e4e;
  border-bottom:1px solid #4e4e4e;
  background:rgba(255, 255, 255, 0.5) repeat;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

.css-container {
  text-align: center;
  padding: 15px 0 0;
}

.main-head {
  width: 100%;
  margin-top: -51px;
  padding-top: 51px;
  padding-bottom: 83px;
  height: 400px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: #000000 url("../img/blurry.jpg") no-repeat center center;  
}

.search {
  text-align: center;
}


.tr:hover {
  background-color: #ddd;
}

.row-selected:hover {
  background-color: #abcdef;
}

.row-selected {
  background-color: #abcdef !important;
}

.row-hovered {
  background-color: #ddd;
}

.tr-vayable.row-hovered {
  opacity: 0.9;
}

.ownerAdd {
  word-wrap: break-word;
}

.list-wrapper {
  overflow: hidden;
}

.map img {
  max-width: none;
}

#listings {
  margin-top: -20px;
}

.map-cont {
  position: fixed;
  margin-left:0 !important;
}

.tr {
  cursor: pointer;
}

.css-nav {
  margin-bottom: 0;
  float:right !important;
  color: #2F4C64 !important;
 /* margin: -35px 10px 0 0 !important;*/

}

.css-nav > li > a {

  color: #2F4C64 !important;
  text-shadow: none !important;
  font-size: 14px !important;
  font-weight: bold;
}

.css-nav > li > a:hover {

    color:#1a7e9f !important;
}

.sidebar {
  width: 350px;
  position: absolute;
  top: 41px;
  left: 90px;
  z-index: 9999;
  background-color: rgba(26, 21, 21, 0.75);
}

.inner {
  background: #f1f1f1;
  overflow: hidden;
  width: 335px;
  margin: -8px auto 0 auto;
  border-radius: 10px 10px 0 0;
}

.inner:hover {
  overflow: auto;
}

.logos {
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.8;
}

.logos:hover{
  opacity: 1;
}

.shares {
  padding-top: 9px;
}

.st_twitter_hcount {
  padding-top: 7px;
}

.loading {
  background: url("../img/ajax-loader.gif");
  margin: 5px auto;
  width: 16px;
  height: 11px;
}

.logo {
  height: 26px;
  margin-left: -8px;
  margin-right: -8px;
  vertical-align: baseline;
}

.header-logo {

  background: url("../img/castel.png") no-repeat scroll 0 0 transparent;
  padding-left:10px;
  padding-right:14px;
  margin-left:-8px;
  line-height: 0px !important;
  padding-top: 4px;

}

.beta {

  color: #24B0CF;
  font-size: 10px;
  position: absolute;

}

.header-logo-link {
  color: #2F4C64 !important;
  font-size: 2em;
  font-weight: bold;
}

.map {
  width: 100% !important;
}

.resultInfo {
  color: black;
  position: absolute;
  top: -25px;
  left: 35%;
}

@media (max-width: 1520px) {
  .main-head, .css-logo-bar, .hiw-header {
  }
  .mvwq {
    display: none !important;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
  }
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar-inner {
  background: #F2F2F2 !important;
  background: linear-gradient(to bottom, #F2F2F2 0%, #EFEFEF 38%, #ECECEC 57%, #EAEAEA 100%) repeat scroll 0 0 transparent !important;
  height: 40px;
}

.twitters iframe {
  width: 57px !important;
}


.tr-vayable {
  height: 80px;
  background-size: cover;
}

.tr-vayable:hover {
  opacity: 0.9;
}

.text-white {
  color:black;
  background: rgba(255, 255, 255, 0.3);
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
  }
  
  ::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #ccc;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: orange;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    border-radius: 3px;
  }
}

/*INFO WINDOW */
.js-infowindow {
  cursor: default;
  background: #fff;
  border-radius: 4px 0 4px 4px;
  width: 300px;
  height: 145px;
  box-shadow: 1px -2px 12px 1px;
}

.js-infowindow:after {
  bottom: -14px;
  content: "";
  display: block;
  left: 45%;
  position: absolute;
  width: 0;
  border-color: #fff transparent;
  border-style: solid;
  border-width: 15px 15px 0;
}

.info-desc {
  min-height: 50px;
}

.js-closeInfoWindow {
  color: #ffffff;
  padding: 1px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: -12px;
}

.js-closeInfoWindow:hover {
  color: #ff1;
  text-decoration: none;
}

.info-logo {
  position: absolute;
  right: 5px;
  top: 20px;
}

.info-picinfo {
  height: 95px;
  background: white;
}

.info-img {
  margin: 5px;
}

.info-text {
  padding-left: 5px;
  color: #fff;
}

.css-blue {
  color: #24b0cf;
}

.css-green {
  color: #95d17b;
}

.css-red {
  color: #ec5f41;
}

.css-bgblue {
  background-color: #24b0cf;
}

.css-bggreen {
  background-color: #95d17b;
}

.css-bgred {
  background-color: #ec5f41;
}

.info-content ul {
  margin-top: -20px;
  margin:0;
  list-style: none;
}

.info-book-vay {
  background: #95d17b;
}

.info-book-vay:hover {
  color: white;
  background: #255610;
}

.info-book-rid {
  color: white;
  background: #ec5f41;
}

.info-book-rid:hover {
  color: white;
  background: #a41414;
}

.info-book-air {
  color: white;
  background: #24b0cf;
}

.info-book-air:hover {
  color: white;
  background: #0b4f5e;
}

.info-origin {
  text-overflow: ellipsis;
  width: 132px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.p2p-main{
   /* Positioning */
  margin-bottom:37px;
  margin-top:13px;
}
.p2p-line{
  /* Visual */
  border-bottom:1px solid #dddddd;
  padding-top:0.8em;
}
.body-main{
  /* Positioning */
  padding:0 2% 0 2%;
}
.tp2p-text{
  /* Typography */
  text-align:center;
  font-size:24px;
  color:#2b6485;
  font-weight:bold;
  font-family: 'Open Sans','arial',sans-serif;
}
.menu-box{
  /* Positioning */
  height:140px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-top:0.1em;
  width:260px;
}

.menu-box-main {
    margin: 0 auto;
    max-width: 960px;
    width: 960px !important;
} 

.menu-box-red{
  /* Visual */
  background:#ec5f41;
}
.menu-box-blue{
  /* Visual */
  background:#24b0cf;
}
.menu-box-green{
  /* Visual */
  background:#95d17b;
}
.circle{
  /* Typography */
  font-size:10px;
}
.circle-red{
  /* Visual */
  color:#ec5f41;
}
.circle-blue{
  /* Visual */
  color:#24b0cf;
}
.circle-green{
  /* Visual */
  color:#95d17b;
}
.menu-box-details h5{
  /* Typography */
  text-align:left;
}
.circle-main{
  /* Positioning */
  width:9.8% !important;
}
.circle-main ul{
  /* Positioning */
  width:30px;
  margin:50%;
}
.circle-main ul li{
  /* Positioning */
  width:10px;
}
.nav-tabs {
  margin: 0 !important;
}

.menu-box-count{
  /* Positioning */
  width:28px;
  height:30px;
  margin-left:5px;
  padding-top:5px;

  /* Visual */
  background:#fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  /* Typography */
  text-align:center;
  font-family:arial;
  font-size:24px;
  font-weight:bold;
}
.menu-box-count-red{
  /* Visual */
  color:#ec5f41;
}
.menu-box-count-blue{
  /* Visual */
  color:#24b0cf;
}
.menu-box-count-green{
  /* Visual */
  color:#95d17b;
}
.menu-box-icon-main{
  /* Typography */
  text-align:center;
  color:#fff;
  width:260px;
}
.menu-box-icon-marker{
  /* Typography */
  font-size:64px;
}
.clear{
  clear:both;
}
.margin-left-20{
  /* Positioning */
  margin-left:20px;
}
.center-circle{
  line-height: 7px;

  /* Positioning */
    margin:0 auto;
    width: 5px;
  margin: 15px auto;
}
.menu-box-title{
  /* Typography */
  color:#6f6f6f;
  font-size:18px;
  font-family: 'Open Sans','arial',sans-serif;

  /* Positioning */
  margin-bottom:0.22em;
}
.menu-box-desc{
  /* Typography */
  color:#6f6f6f;
  font-size:14px;
  font-family: 'Open Sans','arial',sans-serif;

}

/*HOW IT WORKS*/
.hiw-container {
  margin:0 auto;
  max-width: 940px;
}
.hiw {
  border-radius: 4px;
  width: 260px;
  height: 140px;
  padding-top: 5px;
}

.hiw-num {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: white;
margin-left: 5px;
padding-top: 5px;
}

.hiw-first, .hiw-fourth {
  background: #ec5f41;
}


.hiw-second, .hiw-fifth {
  background: #24b0cf;
}

.hiw-third, .hiw-sixth {
  background: #95d17b;
}

.hiw-icon {
  color: #fff;
  text-align: center;
  font-size: 64px;
}

.hiw-title {
  color: #6f6f6f;
}

.hiw-header {

  padding-top:30px;
  padding-bottom:30px;
}

.hiw-desc {

  line-height:  22px;
  text-align: left;
  width: 260px;
}

 /*END HOW IT WORKS*/
 
.top {
  padding-top: 100px;
  color: #d8d8d8;
}

.around-me:hover {
 background-color: #A41414;

}

.around-me:focus {
background-color: #A41414;

}
.red-bg {
    background: none repeat scroll 0 0 #EC5F41;
}

.blue-bg {

  background: none repeat scroll 0 0 #24B0CF;
}

.search-blue:hover {
 background-color: #2284A1;

}

.search-blue:focus {
background-color: #2284A1;

}

.target-icon {
    background: url("../img/icon-target.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    width: 38px;
    height: 38px;
}

.button:hover{

  color:white;
}

.button:focus{

  color:white;
}

.aroundtext {

  margin-left:30px;
  padding-right: 10px;

}

/*landing page search*/
.css-main-search {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
}

.inner-search {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.search-bar-wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #333333;
  border: 1px solid #222222;
  margin: 25px;
  padding: 10px 15px;
  color: #fff;
}

.search-bar-wrapper form {
  margin: 0 !important;
}

.inner-form {
  width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
}


.wearedual {
  height: 40px !important;
}

.css-searchspan {
  font-size: 20px;
  padding: 5px 20px;
}

.css-searchicon {
  color: white;
  font-size: 18px;
}

.css-whataround {
  padding: 8px;
  min-height: 22px;
  background: #EC5F41 !important;
  transition: background 300ms ease-out;
}

.css-whataround:hover {
  background: #a41414 !important;
  transition: background 300ms ease-out;
}

.css-ortext {
  height: 40px;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 40px;
}

.css-searchit {
  transition: background 300ms ease-out;
  background: #2ba6cb !important;
}
.css-searchit:hover {
  transition: background 300ms ease-out;
  background: #2284a1 !important;
}
.geolocate-icon {
  width: 22px;
}

.load-more {
  width: 100%;
}

.alert-box {
  width: 28em;
  right: 0;
  bottom: 0;
  z-index: 9;
  position: absolute;
}

.filters {
  background: #feffff;
  background: linear-gradient(to bottom, #F2F2F2 0%, #EFEFEF 38%, #ECECEC 57%, #EAEAEA 100%) repeat scroll 0 0 transparent;
  padding: 7px;
}

.guestfilter {
  width:80px;
}

.price-filter {
  width: 220px;
  display: inline-block;
  margin-right: 10px;
}

.minimax {
  list-style: none;
  width: 72px;
  background: #ddd;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 3px;
  margin-top: -5px;
}

.price-value-min {
  float: left;
}

.price-value-max {
  float: right;
}

.slider_values {
  margin: 0;
  height: 30px;
}

.submit-filter {
  width: 75px;
  margin-top: -35px;
}

.applyflabel {
  display: inline-block;
}
.left{
	/* Postionning */
	float:left;
}
.right{
	/* Postionning */
	float:right;
}
.navbar-inner .container{
	/* Box-model */
	max-width:940px;
	width:auto !important;
}
.footer-menu{
	/* Positioning*/
	position:fixed;
	bottom:0;
	display:block;
}
.footer-menu li{
	float:left;
	list-style:none;
}
/* Start Gagandeep 04222013 */
.mobile-menu-main{
	display:none;
}
.mobile-menu-popup{
	display:none;
}
.border-no-right{
	border-right:none !important;
}