<div class="container lp-container">
  <div class="row">
    <div class="span12">
      <div class="lp-refineSearch">
        <form class="lp-refineSearchForm" id="ref-ren-form">
          <%
            var guests = Outpost.searchQuery.guests,
                roomType = Outpost.searchQuery.rentals.roomType,
                propertyType = Outpost.searchQuery.rentals.propertyType,
                min = Outpost.searchQuery.rentals.min,
                max = Outpost.searchQuery.rentals.max,
                sortBy = Outpost.searchQuery.rentals.sortBy;
          %>
          <div class="input-wrapper">
            <input id="ref-ren-dest-loc" type="text" autocomplete="off" value="<%= Outpost.searchQuery.destLocation %>" placeholder="Where do you want to go ?">
          </div>
          <div class="input-wrapper">
            <span class="add-on calendar-prepend"><i class="icon-calendar"></i></span>
            <input class="input-small sl-hou-from-date" id="ref-ren-sdate" placeholder="Check in" autocomplete="off" value="<%= Outpost.searchQuery.sdate %>" type="text">
          </div>
          <div class="input-wrapper">
            <span class="add-on calendar-prepend"><i class="icon-calendar"></i></span>
            <input class="input-small sl-hou-to-date" id="ref-ren-edate" placeholder="Check out" autocomplete="off" value="<%= Outpost.searchQuery.edate %>" type="text">
          </div>
          <div class="input-wrapper">
            <select class="sl-hou-guest-input" id="ref-ren-guest">
              <option <%= guests === "1" ? "selected" : '' %> value="1">1 guest</option>
              <option <%= guests === "2" ? "selected" : '' %> value="2">2 guests</option>
              <option <%= guests === "3" ? "selected" : '' %> value="3">3 guests</option>
              <option <%= guests === "4" ? "selected" : '' %> value="4">4 guests</option>
              <option <%= guests === "5" ? "selected" : '' %> value="5">5 guests</option>
              <option <%= guests === "6" ? "selected" : '' %> value="6">6 guests</option>
              <option <%= guests === "7" ? "selected" : '' %> value="7">7 guests</option>
              <option <%= guests === "8" ? "selected" : '' %> value="8">8 guests</option>
              <option <%= guests === "9" ? "selected" : '' %> value="9">9 guests</option>
              <option <%= guests === "10" ? "selected" : '' %> value="10">10 guests</option>
              <option <%= guests === "11" ? "selected" : '' %> value="11">11 guests</option>
              <option <%= guests === "12" ? "selected" : '' %> value="12">12 guests</option>
              <option <%= guests === "13" ? "selected" : '' %> value="13">13 guests</option>
              <option <%= guests === "14" ? "selected" : '' %> value="14">14 guests</option>
              <option <%= guests === "15" ? "selected" : '' %> value="15">15 guests</option>
              <option <%= guests === "16" ? "selected" : '' %> value="16">16+ guests</option>
            </select>
          </div>
          <button class="css-searchit" id="ref-ren-search" type="submit">
            <span class="icon-search css-searchicon"></span>&nbsp;Search
          </button>
        </form>
      </div>
    </div>
    <div class="span12">
      <div class="tab-content">
        <div class="tab-pane active" id="lp-spacerentals">
          <div class="span3">
            <div class="lp-sidebar">
              <div class="accordion">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle">
                      Sort by
                    </a>
                  </div>
                  <div class="accordion-body in collapse">
                    <div class="accordion-inner">
                      <select class="lp-sortfilter" id="lp-hou-sortby">
                        <option <%= sortBy === "relevance" ? "selected" : '' %> value="relevance">Relevance</option>
                        <option <%= sortBy === "low2high" ? "selected" : '' %> value="low2high">Price: Low to high</option>
                        <option <%= sortBy === "high2low" ? "selected" : '' %> value="high2low">Price: High to low</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle">
                      Price
                    </a>
                  </div>
                  <div id="lp-hou-priceFilter" class="accordion-body in collapse">
                    <div class="accordion-inner">
                      <div class="lp-price-filter">
                        <ul class="slider_values">
                          <li class="price-value-min minimax">$<span id="lp-price-value-min-hou"><%= min %></span> USD</li>
                          <li class="price-value-max minimax">$<span id="lp-price-value-max-hou"><%= max === 1000 ? max + "+" : max %></span> USD</li>
                        </ul>
                        <div class="input-large lp-price-input-hou" id="lp-price-input-hou"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle">
                      Room type
                    </a>
                  </div>
                  <div id="lp-hou-roomType" class="accordion-body in collapse">
                    <div class="accordion-inner">
                      <label class="checkbox">
                        <input class="lp-hou-roomtype" id="roomtype-entire_place" type="checkbox" name="room_types" value="entire_place" <%= ~roomType.indexOf("entire_place") ? "checked" : "" %>>Entire place
                      </label>
                      <label class="checkbox">
                        <input class="lp-hou-roomtype" id="roomtype-private_room" type="checkbox" name="room_types" value="private_room" <%= ~roomType.indexOf("private_room") ? "checked" : "" %>>Private room
                      </label>
                      <label class="checkbox">
                        <input class="lp-hou-roomtype" id="roomtype-shared_room" type="checkbox" name="room_types" value="shared_room" <%= ~roomType.indexOf("shared_room") ? "checked" : "" %>>Shared room
                      </label>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle">
                      Property type
                    </a>
                  </div>
                  <div id="lp-hou-propertyType" class="accordion-body in collapse">
                    <div class="accordion-inner">
                      <label class="checkbox">
                        <input class="lp-hou-property" type="checkbox" name="property_types" value="apartment" <%= ~propertyType.indexOf("apartment") ? "checked" : "" %>>
                        <span class="lp-help" data-toggle="tooltip" data-placement="right" title="Includes Apartment, Loft, Condo, Hotel, Dorm, and Residences">Apartment</span>
                      </label>
                      <label class="checkbox">
                        <input class="lp-hou-property" type="checkbox" name="property_types" value="bnb" <%= ~propertyType.indexOf("bnb") ? "checked" : "" %>>
                        <span class="lp-help" data-toggle="tooltip" data-placement="right" title="Bed &amp; Breakfast">B&amp;B</span>
                      </label>
                      <label class="checkbox">
                        <input class="lp-hou-property" type="checkbox" name="property_types" value="chalet" <%= ~propertyType.indexOf("chalet") ? "checked" : "" %>>
                        <span class="lp-help" data-toggle="tooltip" data-placement="right" title="Includes Cabin, Chalet, Cottage, Lodge, Caban, Ecolodge, and Farm House">Chalet</span>
                      </label>
                      <label class="checkbox">
                        <input class="lp-hou-property" type="checkbox" name="property_types" value="house" <%= ~propertyType.indexOf("house") ? "checked" : "" %>>
                        <span class="lp-help" data-toggle="tooltip" data-placement="right" title="Includes House, Holiday Home, Villa, Bungalow, Townhouse, and Estates">House</span>
                      </label>
                      <label class="checkbox">
                        <input class="lp-hou-property" type="checkbox" name="property_types" value="other" <%= ~propertyType.indexOf("other") ? "checked" : "" %>>
                        <span class="lp-help" data-toggle="tooltip" data-placement="right" title="Includes Castle, Island, Boat, Plane, Parking Space, Garage, Car, Van, Comper/RV, Igloo, Tipi, Yurt, Cave, Lighthouse, Earth House, Hut, Train, Tent , Hostel, and Bivouac">Other</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span9 pull-right margin0">
            <h1 class="well" id="lp-hou-well">
              Searching for <%= Outpost.searchQuery.rentals.page >= 2 ? "more" : "" %> vacation rentals near <b><%= Outpost.searchQuery.destLocation || Outpost.searchQuery.origLocation %></b>...
            </h1>
            <div class="lp-lists" id="lp-hou-list"></div>
            <div class="lp-spinner css-blue lp-hidden" id="lp-hou-ls" style="display: none;">
              <div class="icon-spinner icon-spin icon-4x"></div>
            </div>
            <div class="ren-list-page pagination" id="ren-list-page">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    var validate = function(destCity) {
      var hasCommaDest = destCity.indexOf(",");
      var $pcDest = $('.pac-container');
      var firstDest = $pcDest.find(".pac-item:first").text();
      var newDestCity = hasCommaDest === -1 ? firstDest : destCity;
      if (!newDestCity) {
        newDestCity =  destCity;
      }
      return newDestCity;
    };

    $('.ui-datepicker').hide();
    $('.pac-container').remove();
    $('.lp-sidebar').affix({
      offset: 125
    });

    var houDestInput = document.getElementById('ref-ren-dest-loc');
    var $sdate = $('#ref-ren-sdate');
    var $edate = $("#ref-ren-edate");

    // REFINE SEARCH INIT
    var options = {
      types: ['(regions)']
    };
    var houDestTA = new google.maps.places.Autocomplete(houDestInput, options);
    google.maps.event.addListener(houDestTA, 'place_changed', function() {
      Outpost.searchQuery.destLocation = validate($(houDestInput).val());
    });

    var customRange = function customRange(input) {
      var minDate;
      var startDateVal = $sdate.val();
      if (input.id === 'ref-ren-edate') {
        if (startDateVal) {
          minDate = new Date(startDateVal);
          minDate.setDate(minDate.getDate() + 1);
          return {
            minDate: minDate
          };
        } else {
          return {
            minDate: 1
          };
        }
      }
    };

    $sdate.datepicker({
      minDate: 0,
      inline: true,
      onClose: function(selectedDate) {
        $edate.focus();
      }
    });

    $edate.datepicker({
      inline: true,
      beforeShow: customRange,
      onClose: function() {
        Outpost.searchQuery.sdate = $('#ref-ren-sdate').val();
        Outpost.searchQuery.edate = $('#ref-ren-edate').val();
        $.xhrPool.abortAll();
        Outpost.searchQuery.rentals.page = 1;
        Outpost.helpers.genSearchParamsAndGo("rentals");
      }
    });

    $(houDestInput).on("click", function(){
      $(this).val("");
    });

    $(houDestInput).on("blur", function(){
      Outpost.searchQuery.destLocation = validate($(this).val());
    });

    $('.lp-help').tooltip();
  })();
</script>