<% if (!title) { %>
<div class="container" id="singleViewPage">
  <div class="row">
    <div class="span12">
      <div class="item-wrapper">
        <div class="panel-header css-bgblue">
          <h2 class="panel-title">Expired offer</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% } else { %>
<%
  Outpost.helpers.alternateSEO({
    title: title + " in " + city,
    description: property_type + " " + room_type + " for " + price +
    " per night (" + currency + ") · " + address
  });
%>
<div class="container" id="singleViewPage">
  <div class="row">
    <div class="span12">
      <div class="item-wrapper">
        <div class="panel-header css-bgblue">
          <h2 class="panel-title"><%= title %></h2>
        </div>
        <div class="item-content row">
          <h4 class="panel-subtitle-hou"><%= property_type %> <%= room_type %> · <span class="text-yellow"><%= address %></span></h4>
          <div class="span8">
            <div class="left-col-content">
              <div class="tabbable">
                <ul class="nav nav-pills ul-panel-grey">
                  <li class="active"><a href="#sv-carousel" data-toggle="tab">Photos</a></li>
                  <li><a class="tab-map-view" href="#sv-map-view" data-toggle="tab">Map View</a></li>
                  <li><a class="tab-street-view" href="#sv-street-view" data-toggle="tab">Street View</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="sv-carousel">
                    <div class="tab-pane active" id="tab-gallery">
                      <div id="svhouCarousel" class="carousel slide air-carousel">
                        <ol class="carousel-indicators">
                          <% var j = 0; %>
                          <% _.each(imgs, function(src) { %>
                            <li data-target="#svhouCarousel" data-slide-to="<%= j %>" class="<%= j ? '' : 'active' %>"></li>
                            <% j++ %>
                          <% }); %>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner sv-hou-carousel-inner">
                          <% var i = 0; %>
                          <% _.each(imgs, function(src) { %>
                            <div class="item <%= i ? '' : 'active' %> ">
                              <img class="modal-img" src="<%= src %>">
                              <% if (captions[i]) { %>
                                <div class="carousel-caption">
                                  <h5><%= captions[i] %></h5>
                                </div>
                              <% } %>
                            </div>
                            <% i++ %>
                          <% }); %>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#svhouCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#svhouCarousel" data-slide="next">&rsaquo;</a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="sv-map-view">
                    <div class="single-map" id="single-map"></div>
                  </div>
                  <div class="tab-pane" id="sv-street-view">
                    <div class="single-street" id="single-street"></div>
                  </div>
                </div>
              </div>
              <div class="css-details-text">
                <p class="sv-hou-details-text"><%= desc %></p>
              </div>
              <div class="css-details-ameneties">
                <table class="table table-hover table-bordered table-striped">
                  <tbody>
                    <% _.each(smallInfo, function(aInfo) { %>
                      <tr>
                        <td><%= aInfo[0] %></td>
                        <td class="details-td"><%= aInfo[1] %></td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
              <div class="hou-review-text">
                <% if (review)  { %>
                <h3 class="review-title-hou">Latest Review</h3>
                <div class="aReview">
                  <div class="css-imgname">
                    <img src="<%= review.img %>" class="img-polaroid">
                    <span class="name"><%= review.name %></span>
                  </div>
                  <div class="review-text">
                    <%= review.comment %>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <div class="span270">
            <div class="item-info">
              <div class="item-price-box">
                <h2 class="item-price"><%= price %></h2>
                <span class="item-per item-per-seat">per night (<%= currency %>)</span>
              </div>
              <div class="item-seatleft-box">
                <% if (numOfBedrooms) { %>
                  <strong class="item-beds"><%= numOfBedrooms %></strong>
                  <span class="item-seat-left"><%= numOfBedrooms <= 1 ? "bedroom" : "bedrooms" %></span>
                <% } %>
                <% if (numOfBedrooms && numOfBeds) { %>
                  <span>&amp;</span>
                <% } %>
                <% if (numOfBeds) { %>
                  <strong class="item-beds"><%= numOfBeds %></strong>
                  <span><%= numOfBeds <= 1 ? "bed" : "beds" %></span>
                <% } %>
              </div>
              <div class="item-desc-box">
                <p class="item-desc">
                  <%= house_rules %>
                </p>
              </div>
              <div class="item-contact-box">
                <a class="out-btn btn-block btn-sv-hou" href="<%= link %>" target="_blank">Contact Host</a>
              </div>
            </div>
            <div class="item-profile">
              <div class="item-profile-pic">
                <img src="<%= picture_url %>" class="img-polaroid img-profile-pic">
                <h4 class="item-profile-name"><%= name %></h4>
                <h6 class="item-profile-age"><%= response_time %></h6>
              </div>
              <table class="table table-striped">
                <tbody>
                  <% _.each(amenities, function(amenitie) { %>
                    <tr>
                      <td><i class="icon-check-sign css-green"></i> <%= amenitie %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <div class="provider-profile">
              <div class="item-provider-logo css-bgblue">
                <img src="<%= logopath %>" class="provider-<%= idtype %>"></img>
              </div>
              <div class="provider-desc"><%= logodesc %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
