<div class="container lp-container" id="singleViewPage">
  <% if (!heading) { %>
    <div class="row">
      <div class="span12">
        <div class="item-wrapper">
          <div class="panel-header css-bggreen">
            <h2 class="panel-title">Expired offer</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } else { %>
  <%
    Outpost.helpers.alternateSEO({
      title: heading + " - Outpost",
      description: origin + ", for " + rate + " per person. " +
        "Feel like a local by exploring rare venues with a local guide."
    });

    var isFromRef, hrefRes = "";
    var textBread = "Back to experiences for " + origin;
    if (window.document.referrer === window.location.origin + "/") {
      isFromRef = true;
      hrefRes = "javascript:window.close()";
    } else {
      isFromRef = false;
      hrefRes = window.location.origin + "/#!/experiences?destCity=" + Outpost.helpers.enbarURI(origin);
    }

    var currentBread = heading;
    if (currentBread.length >= 45) {
      currentBread = currentBread.substr(0, 45) + "..";
    }
  %>
  <div class="row">
    <div class="span12">
      <ul class="breadcrumb bc-spv">
        <li><a class="bc-back" href="<%= hrefRes %>"><i class="icon-arrow-left"></i> <%= textBread %></a> <span class="divider">/</span></li>
        <li class="active"><%= currentBread %></li>
      </ul>
      <div class="item-wrapper">
        <div class="panel-header css-bggreen">
          <h2 class="panel-title"><%= heading %></h2>
        </div>
        <div class="item-content row">
          <h4 class="panel-subtitle-hou"><span class="text-yellow"><%= origin %></span></h4>
          <div class="span8">
            <div class="left-col-content">
              <div class="tabbable">
                <ul class="nav nav-pills ul-panel-grey">
                  <li class="active"><a href="#sv-carousel" data-toggle="tab">Photos</a></li>
                  <li><a class="tab-map-view" href="#sv-map-view" data-toggle="tab">Map View</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="sv-carousel">
                    <div class="tab-pane active" id="tab-gallery">
                      <img src="<%= photos[0] %>" class="w620">
                    </div>
                  </div>
                  <div class="tab-pane" id="sv-map-view">
                    <div class="single-map" id="single-map"></div>
                  </div>
                </div>
              </div>
              <div class="css-details-text-tou">
                <p class="sv-hou-details-text"><%= description %></p>
              </div>
            </div>
          </div>
          <div class="span270">
            <div class="item-info">
              <div class="item-price-box">
                <% if (rate) { %>
                  <h2 class="item-price">$<%= rate %></h2>
                  <span class="item-per item-per-seat">per person (USD)</span>
                <% } else { %>
                  <h2 class="item-price">FREE</h2>
                  <span class="item-per item-per-seat">for everyone</span>
                <% } %>
              </div>
              <div class="item-seatleft-box">
                <% if (occupancy) { %>
                  <strong class="item-beds">Up to <%= occupancy %> people</strong>
                <% } %>
              </div>
              <div class="item-contact-box">
                <a class="out-btn btn-block btn-sv-tou spv-bookit" id="spv-bookit" data-toggle="tooltip" data-placement="bottom" title="You will be redirected to <%= fullProvider %>'s website where you can inquire or complete your purchase."  href="<%= link %>" target="_blank">Book on <%= fullProvider %></a>
              </div>
            </div>
            <div class="item-profile">
              <div class="item-profile-pic">
                <img src="<%= hostPhoto %>" class="img-polaroid img-profile-pic">
                <h4 class="item-profile-name"><%= hostName %></h4>
                <h6 class="item-profile-age">&nbsp;</h6>
              </div>
            </div>
            <div class="provider-profile">
              <div class="item-provider-logo css-bggreen">
                <img src="/img/providers/lv/<%= provider %>.png" class="pro-sv-ren-logo">
              </div>
              <div class="provider-desc"><%= logoDesc %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<script>
  (function() {
    $('#spv-bookit').tooltip();

    $('html').keyup(function(e) {
      var href = $('.bc-back').attr("href");
      if (e.keyCode === 8 && href === "javascript:window.close()" && $('#js-signup-modal').is(":hidden")) {
        window.close();
      }
    });
  })();
</script>